######################################
## SelectMAP pins
######################################

NET FPGA_CCLK                   LOC = AU21  | IOSTANDARD = LVCMOS25 | DRIVE = 24;

NET FPGA1_D<0>                  LOC = AV9   | IOSTANDARD = LVCMOS25;
NET FPGA1_D<1>                  LOC = AY9   | IOSTANDARD = LVCMOS25;
NET FPGA1_D<2>                  LOC = AW9   | IOSTANDARD = LVCMOS25;
NET FPGA1_D<3>                  LOC = AN11  | IOSTANDARD = LVCMOS25;
NET FPGA1_D<4>                  LOC = AU10  | IOSTANDARD = LVCMOS25;
NET FPGA1_D<5>                  LOC = AT10  | IOSTANDARD = LVCMOS25;
NET FPGA1_D<6>                  LOC = AV10  | IOSTANDARD = LVCMOS25;
NET FPGA1_D<7>                  LOC = AW10  | IOSTANDARD = LVCMOS25;
NET FPGA1_RDWR_B                LOC = AU9   | IOSTANDARD = LVCMOS25;
NET FPGA1_CS_B                  LOC = AT9   | IOSTANDARD = LVCMOS25;
NET FPGA1_INIT_B                LOC = AP11  | IOSTANDARD = LVCMOS25;
NET FPGA1_DONE                  LOC = AR11  | IOSTANDARD = LVCMOS25;
NET FPGA1_PROG_B                LOC = AV11  | IOSTANDARD = LVCMOS25;

NET FPGA2_D<0>                  LOC = C19   | IOSTANDARD = LVCMOS25;
NET FPGA2_D<1>                  LOC = D19   | IOSTANDARD = LVCMOS25;
NET FPGA2_D<2>                  LOC = F19   | IOSTANDARD = LVCMOS25;
NET FPGA2_D<3>                  LOC = E19   | IOSTANDARD = LVCMOS25;
NET FPGA2_D<4>                  LOC = H19   | IOSTANDARD = LVCMOS25;
NET FPGA2_D<5>                  LOC = G19   | IOSTANDARD = LVCMOS25;
NET FPGA2_D<6>                  LOC = K19   | IOSTANDARD = LVCMOS25;
NET FPGA2_D<7>                  LOC = J19   | IOSTANDARD = LVCMOS25;
NET FPGA2_RDWR_B                LOC = M21   | IOSTANDARD = LVCMOS25;
NET FPGA2_CS_B                  LOC = M20   | IOSTANDARD = LVCMOS25;
NET FPGA2_INIT_B                LOC = L19   | IOSTANDARD = LVCMOS25;
NET FPGA2_DONE                  LOC = M19   | IOSTANDARD = LVCMOS25;
NET FPGA2_PROG_B                LOC = C17   | IOSTANDARD = LVCMOS25;

NET FPGA3_D<0>                  LOC = C34   | IOSTANDARD = LVCMOS25;
NET FPGA3_D<1>                  LOC = D34   | IOSTANDARD = LVCMOS25;
NET FPGA3_D<2>                  LOC = K32   | IOSTANDARD = LVCMOS25;
NET FPGA3_D<3>                  LOC = H33   | IOSTANDARD = LVCMOS25;
NET FPGA3_D<4>                  LOC = J33   | IOSTANDARD = LVCMOS25;
NET FPGA3_D<5>                  LOC = F33   | IOSTANDARD = LVCMOS25;
NET FPGA3_D<6>                  LOC = G33   | IOSTANDARD = LVCMOS25;
NET FPGA3_D<7>                  LOC = E33   | IOSTANDARD = LVCMOS25;
NET FPGA3_RDWR_B                LOC = E34   | IOSTANDARD = LVCMOS25;
NET FPGA3_CS_B                  LOC = F34   | IOSTANDARD = LVCMOS25;
NET FPGA3_INIT_B                LOC = H32   | IOSTANDARD = LVCMOS25;
NET FPGA3_DONE                  LOC = D33   | IOSTANDARD = LVCMOS25;
NET FPGA3_PROG_B                LOC = J32   | IOSTANDARD = LVCMOS25;

NET FPGA4_D<0>                  LOC = AU24  | IOSTANDARD = LVCMOS25;
NET FPGA4_D<1>                  LOC = AV24  | IOSTANDARD = LVCMOS25;
NET FPGA4_D<2>                  LOC = AR24  | IOSTANDARD = LVCMOS25;
NET FPGA4_D<3>                  LOC = AT24  | IOSTANDARD = LVCMOS25;
NET FPGA4_D<4>                  LOC = AN24  | IOSTANDARD = LVCMOS25;
NET FPGA4_D<5>                  LOC = AP24  | IOSTANDARD = LVCMOS25;
NET FPGA4_D<6>                  LOC = AL24  | IOSTANDARD = LVCMOS25;
NET FPGA4_D<7>                  LOC = AM24  | IOSTANDARD = LVCMOS25;
NET FPGA4_RDWR_B                LOC = AW24  | IOSTANDARD = LVCMOS25;
NET FPGA4_CS_B                  LOC = AY24  | IOSTANDARD = LVCMOS25;
NET FPGA4_INIT_B                LOC = AY25  | IOSTANDARD = LVCMOS25;
NET FPGA4_DONE                  LOC = AY26  | IOSTANDARD = LVCMOS25;
NET FPGA4_PROG_B                LOC = AV25  | IOSTANDARD = LVCMOS25;

