################## Global Timing Constraints
#

Net sys_clk_n TNM_NET = sys_clk_n;
TIMESPEC TS_sys_clk_n = PERIOD sys_clk_n 100 MHz;

Net dly_clk_n TNM_NET = dly_clk_n;
TIMESPEC TS_dly_clk_n = PERIOD dly_clk_n 200 MHz;

Net epb_clk TNM_NET = epb_clk;
TIMESPEC TS_epb_clk = PERIOD epb_clk 88 MHz;

#TODO: Tidy me

#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe')) && (strcmp(get(b,'port'),'0') || strcmp(get(b,'port'),'1')) # Net mgt_clk_0 TNM_NET = mgt_clk_0;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe')) && (strcmp(get(b,'port'),'0') || strcmp(get(b,'port'),'1')) # TIMESPEC TS_mgt_clk_0 = PERIOD mgt_clk_0 156.25 MHz;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe')) && (strcmp(get(b,'port'),'2') || strcmp(get(b,'port'),'3')) # Net mgt_clk_0 TNM_NET = mgt_clk_1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe')) && (strcmp(get(b,'port'),'2') || strcmp(get(b,'port'),'3')) # TIMESPEC TS_mgt_clk_1 = PERIOD mgt_clk_1 156.25 MHz;

################### Pin constraints

#
# System signals
#

NET "sys_clk_n"   LOC = H13;
NET "sys_clk_p"   LOC = J14;

NET "dly_clk_n"   LOC = J17;
NET "dly_clk_p"   LOC = J16;

#
# PPC External Peripheral Bus [EPB]
#

NET "ppc_irq_n"    IOSTANDARD = LVCMOS33 | LOC = G23;

# transparent endian change

NET "epb_data<15>" IOSTANDARD = LVCMOS33 | LOC = AD19;
NET "epb_data<14>" IOSTANDARD = LVCMOS33 | LOC = AE19;
NET "epb_data<13>" IOSTANDARD = LVCMOS33 | LOC = AE17;
NET "epb_data<12>" IOSTANDARD = LVCMOS33 | LOC = AF16;
NET "epb_data<11>" IOSTANDARD = LVCMOS33 | LOC = AD20;
NET "epb_data<10>" IOSTANDARD = LVCMOS33 | LOC = AE21;
NET "epb_data<9>"  IOSTANDARD = LVCMOS33 | LOC = AE16;
NET "epb_data<8>"  IOSTANDARD = LVCMOS33 | LOC = AF15;
NET "epb_data<7>"  IOSTANDARD = LVCMOS33 | LOC = AH13;
NET "epb_data<6>"  IOSTANDARD = LVCMOS33 | LOC = AH14;
NET "epb_data<5>"  IOSTANDARD = LVCMOS33 | LOC = AH19;
NET "epb_data<4>"  IOSTANDARD = LVCMOS33 | LOC = AH20;
NET "epb_data<3>"  IOSTANDARD = LVCMOS33 | LOC = AG13;
NET "epb_data<2>"  IOSTANDARD = LVCMOS33 | LOC = AH12;
NET "epb_data<1>"  IOSTANDARD = LVCMOS33 | LOC = AH22;
NET "epb_data<0>"  IOSTANDARD = LVCMOS33 | LOC = AG22;

# transparent endian change
NET "epb_addr<0>"  IOSTANDARD = LVCMOS33 | LOC = AE23;
NET "epb_addr<1>"  IOSTANDARD = LVCMOS33 | LOC = AE22;
NET "epb_addr<2>"  IOSTANDARD = LVCMOS33 | LOC = AG18;
NET "epb_addr<3>"  IOSTANDARD = LVCMOS33 | LOC = AG12;
NET "epb_addr<4>"  IOSTANDARD = LVCMOS33 | LOC = AG15;
NET "epb_addr<5>"  IOSTANDARD = LVCMOS33 | LOC = AG23;
NET "epb_addr<6>"  IOSTANDARD = LVCMOS33 | LOC = AF19;
NET "epb_addr<7>"  IOSTANDARD = LVCMOS33 | LOC = AE12;
NET "epb_addr<8>"  IOSTANDARD = LVCMOS33 | LOC = AG16;
NET "epb_addr<9>"  IOSTANDARD = LVCMOS33 | LOC = AF13;
NET "epb_addr<10>" IOSTANDARD = LVCMOS33 | LOC = AG20;
NET "epb_addr<11>" IOSTANDARD = LVCMOS33 | LOC = AF23;
NET "epb_addr<12>" IOSTANDARD = LVCMOS33 | LOC = AH17;
NET "epb_addr<13>" IOSTANDARD = LVCMOS33 | LOC = AH15;
NET "epb_addr<14>" IOSTANDARD = LVCMOS33 | LOC = L20;
NET "epb_addr<15>" IOSTANDARD = LVCMOS33 | LOC = J22;
NET "epb_addr<16>" IOSTANDARD = LVCMOS33 | LOC = H22;
NET "epb_addr<17>" IOSTANDARD = LVCMOS33 | LOC = L15;
NET "epb_addr<18>" IOSTANDARD = LVCMOS33 | LOC = L16;
NET "epb_addr<19>" IOSTANDARD = LVCMOS33 | LOC = K22;
NET "epb_addr<20>" IOSTANDARD = LVCMOS33 | LOC = K21;
NET "epb_addr<21>" IOSTANDARD = LVCMOS33 | LOC = K16;
NET "epb_addr<22>" IOSTANDARD = LVCMOS33 | LOC = J15;

# EPB multi purpose pins
NET "epb_addr_gp<0>" IOSTANDARD = LVCMOS33 | LOC = L21; # DMA_REQ_2
NET "epb_addr_gp<1>" IOSTANDARD = LVCMOS33 | LOC = G22; # DMA_ACK_2
NET "epb_addr_gp<2>" IOSTANDARD = LVCMOS33 | LOC = K23; # EOT_TC_2
NET "epb_addr_gp<3>" IOSTANDARD = LVCMOS33 | LOC = K14; # DMA_REQ_3
NET "epb_addr_gp<4>" IOSTANDARD = LVCMOS33 | LOC = L14; # DMA_ACK_3
NET "epb_addr_gp<5>" IOSTANDARD = LVCMOS33 | LOC = J12; # EOT_TC_3

#NET "epb_cs_alt_n"   IOSTANDARD = LVCMOS33 | LOC = AG17;
NET "epb_cs_n"       IOSTANDARD = LVCMOS33 | LOC = K13;
NET "epb_be_n<1>"    IOSTANDARD = LVCMOS33 | LOC = AF18;
NET "epb_be_n<0>"    IOSTANDARD = LVCMOS33 | LOC = AF14;
NET "epb_r_w_n"      IOSTANDARD = LVCMOS33 | LOC = AF20;
NET "epb_oe_n"       IOSTANDARD = LVCMOS33 | LOC = AF21;
#NET "epb_blast_n"    IOSTANDARD = LVCMOS33 | LOC = H23;
NET "epb_rdy"        IOSTANDARD = LVCMOS33 | LOC = K12;

NET "epb_clk_buf"    IOSTANDARD = LVCMOS33 | LOC = AH18;

#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))## Clock on tile 7
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_ref_clk_top_n"    LOC = C8;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_ref_clk_top_p"    LOC = D8;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))## Clock on tile 3
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_ref_clk_bottom_n" LOC = Y3;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_ref_clk_bottom_p" LOC = Y4;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))## Tile 7
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_1_n<1>"    LOC = A7;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_1_p<1>"    LOC = A6;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_1_n<0>"    LOC = A8;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_1_p<0>"    LOC = A9;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_1_n<1>"    LOC = B6;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_1_p<1>"    LOC = B5;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_1_n<0>"    LOC = B9;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_1_p<0>"    LOC = B10;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))## Tile 6
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_1_n<3>"    LOC = C1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_1_p<3>"    LOC = D1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_1_n<2>"    LOC = A2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_1_p<2>"    LOC = A3;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_1_n<3>"    LOC = D2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_1_p<3>"    LOC = E2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_1_n<2>"    LOC = B3;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_1_p<2>"    LOC = B4;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))## Tile 5
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_0_n<1>"    LOC = J1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_0_p<1>"    LOC = K1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_0_n<0>"    LOC = H1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_0_p<0>"    LOC = G1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_0_n<1>"    LOC = K2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_0_p<1>"    LOC = L2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_0_n<0>"    LOC = G2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_0_p<0>"    LOC = F2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))## Tile 4
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_0_n<3>"    LOC = R1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_0_p<3>"    LOC = T1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_0_n<2>"    LOC = P1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_top_0_p<2>"    LOC = N1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_0_n<3>"    LOC = T2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_0_p<3>"    LOC = U2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_0_n<2>"    LOC = N2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_top_0_p<2>"    LOC = M2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))## Tile 3
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_1_n<1>" LOC = AA1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_1_p<1>" LOC = AB1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_1_n<0>" LOC = Y1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_1_p<0>" LOC = W1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_1_n<1>" LOC = AB2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_1_p<1>" LOC = AC2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_1_n<0>" LOC = W2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_1_p<0>" LOC = V2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))## Tile 2
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_1_n<3>" LOC = AG1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_1_p<3>" LOC = AH1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_1_n<2>" LOC = AF1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_1_p<2>" LOC = AE1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_1_n<3>" LOC = AH2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_1_p<3>" LOC = AJ2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_1_n<2>" LOC = AE2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_1_p<2>" LOC = AD2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))## Tile 1
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_0_n<1>" LOC = AP2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_0_p<1>" LOC = AP3;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_0_n<0>" LOC = AM1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_0_p<0>" LOC = AL1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_0_n<1>" LOC = AN3;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_0_p<1>" LOC = AN4;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_0_n<0>" LOC = AL2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_0_p<0>" LOC = AK2;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))## Tile 0
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_0_n<3>" LOC = AP8;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_0_p<3>" LOC = AP9;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_0_n<2>" LOC = AP7;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_rx_bottom_0_p<2>" LOC = AP6;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_0_n<3>" LOC = AN9;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_0_p<3>" LOC = AN10;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_0_n<2>" LOC = AN6;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#NET "mgt_tx_bottom_0_p<2>" LOC = AN5;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe'))#
#IF# strcmp(get(b,'type'),'xps_adc') && strcmp(get(b,'hw_adc'),'adc0')#NET adc0_adc3wire_clk       LOC = F28 ;
#IF# strcmp(get(b,'type'),'xps_adc') && strcmp(get(b,'hw_adc'),'adc0')#NET adc0_adc3wire_data      LOC = D32 ;
#IF# strcmp(get(b,'type'),'xps_adc') && strcmp(get(b,'hw_adc'),'adc0')#NET adc0_adc3wire_strobe    LOC = C32 ;
#IF# strcmp(get(b,'type'),'xps_adc') && strcmp(get(b,'hw_adc'),'adc0')#NET adc0_modepin            LOC = E28 ;
#IF# strcmp(get(b,'type'),'xps_adc') && strcmp(get(b,'hw_adc'),'adc0')#
#IF# strcmp(get(b,'type'),'xps_adc') && strcmp(get(b,'hw_adc'),'adc1')#NET adc1_adc3wire_clk       LOC = AE32 ;
#IF# strcmp(get(b,'type'),'xps_adc') && strcmp(get(b,'hw_adc'),'adc1')#NET adc1_adc3wire_data      LOC = AD34 ;
#IF# strcmp(get(b,'type'),'xps_adc') && strcmp(get(b,'hw_adc'),'adc1')#NET adc1_adc3wire_strobe    LOC = AC34 ;
#IF# strcmp(get(b,'type'),'xps_adc') && strcmp(get(b,'hw_adc'),'adc1')#NET adc1_modepin            LOC = AD32 ;
#IF# strcmp(get(b,'type'),'xps_adc') && strcmp(get(b,'hw_adc'),'adc1')#
# MGT signals
