################## Global Timing Constraints
#

Net sys_clk_n TNM_NET = sys_clk_n;
TIMESPEC TS_sys_clk_n = PERIOD sys_clk_n 100 MHz;

Net dly_clk_n TNM_NET = dly_clk_n;
TIMESPEC TS_dly_clk_n = PERIOD dly_clk_n 200 MHz;

Net epb_clk TNM_NET = epb_clk;
TIMESPEC TS_epb_clk = PERIOD epb_clk 88 MHz;

#TODO: Tidy me

#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe')) && (strcmp(get(b,'port'),'0') || strcmp(get(b,'port'),'1')) # Net mgt_clk_0 TNM_NET = mgt_clk_0;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe')) && (strcmp(get(b,'port'),'0') || strcmp(get(b,'port'),'1')) # TIMESPEC TS_mgt_clk_0 = PERIOD mgt_clk_0 156.25 MHz;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe')) && (strcmp(get(b,'port'),'2') || strcmp(get(b,'port'),'3')) # Net mgt_clk_0 TNM_NET = mgt_clk_1;
#IF# (strcmp(get(b,'type'),'xps_xaui') || strcmp(get(b,'type'),'xps_tengbe')) && (strcmp(get(b,'port'),'2') || strcmp(get(b,'port'),'3')) # TIMESPEC TS_mgt_clk_1 = PERIOD mgt_clk_1 156.25 MHz;

################### Pin constraints

#
# System signals
#

NET "sys_clk_n"   LOC = H13;
NET "sys_clk_p"   LOC = J14;

NET "dly_clk_n"   LOC = J17;
NET "dly_clk_p"   LOC = J16;

# NET "led_n<0>"    IOSTANDARD = LVCMOS18 | LOC = AP26;
# NET "led_n<1>"    IOSTANDARD = LVCMOS18 | LOC = AP25;
# NET "led_n<2>"    IOSTANDARD = LVCMOS18 | LOC = AL25;
# NET "led_n<3>"    IOSTANDARD = LVCMOS18 | LOC = AL24;

#
# PPC External Peripheral Bus [EPB]
#

NET "ppc_irq_n"    IOSTANDARD = LVCMOS33 | LOC = G23;

# transparent endian change

NET "epb_data<15>" IOSTANDARD = LVCMOS33 | LOC = AD19;
NET "epb_data<14>" IOSTANDARD = LVCMOS33 | LOC = AE19;
NET "epb_data<13>" IOSTANDARD = LVCMOS33 | LOC = AE17;
NET "epb_data<12>" IOSTANDARD = LVCMOS33 | LOC = AF16;
NET "epb_data<11>" IOSTANDARD = LVCMOS33 | LOC = AD20;
NET "epb_data<10>" IOSTANDARD = LVCMOS33 | LOC = AE21;
NET "epb_data<9>"  IOSTANDARD = LVCMOS33 | LOC = AE16;
NET "epb_data<8>"  IOSTANDARD = LVCMOS33 | LOC = AF15;
NET "epb_data<7>"  IOSTANDARD = LVCMOS33 | LOC = AH13;
NET "epb_data<6>"  IOSTANDARD = LVCMOS33 | LOC = AH14;
NET "epb_data<5>"  IOSTANDARD = LVCMOS33 | LOC = AH19;
NET "epb_data<4>"  IOSTANDARD = LVCMOS33 | LOC = AH20;
NET "epb_data<3>"  IOSTANDARD = LVCMOS33 | LOC = AG13;
NET "epb_data<2>"  IOSTANDARD = LVCMOS33 | LOC = AH12;
NET "epb_data<1>"  IOSTANDARD = LVCMOS33 | LOC = AH22;
NET "epb_data<0>"  IOSTANDARD = LVCMOS33 | LOC = AG22;

# transparent endian change
NET "epb_addr<0>"  IOSTANDARD = LVCMOS33 | LOC = AE23;
NET "epb_addr<1>"  IOSTANDARD = LVCMOS33 | LOC = AE22;
NET "epb_addr<2>"  IOSTANDARD = LVCMOS33 | LOC = AG18;
NET "epb_addr<3>"  IOSTANDARD = LVCMOS33 | LOC = AG12;
NET "epb_addr<4>"  IOSTANDARD = LVCMOS33 | LOC = AG15;
NET "epb_addr<5>"  IOSTANDARD = LVCMOS33 | LOC = AG23;
NET "epb_addr<6>"  IOSTANDARD = LVCMOS33 | LOC = AF19;
NET "epb_addr<7>"  IOSTANDARD = LVCMOS33 | LOC = AE12;
NET "epb_addr<8>"  IOSTANDARD = LVCMOS33 | LOC = AG16;
NET "epb_addr<9>"  IOSTANDARD = LVCMOS33 | LOC = AF13;
NET "epb_addr<10>" IOSTANDARD = LVCMOS33 | LOC = AG20;
NET "epb_addr<11>" IOSTANDARD = LVCMOS33 | LOC = AF23;
NET "epb_addr<12>" IOSTANDARD = LVCMOS33 | LOC = AH17;
NET "epb_addr<13>" IOSTANDARD = LVCMOS33 | LOC = AH15;
NET "epb_addr<14>" IOSTANDARD = LVCMOS33 | LOC = L20;
NET "epb_addr<15>" IOSTANDARD = LVCMOS33 | LOC = J22;
NET "epb_addr<16>" IOSTANDARD = LVCMOS33 | LOC = H22;
NET "epb_addr<17>" IOSTANDARD = LVCMOS33 | LOC = L15;
NET "epb_addr<18>" IOSTANDARD = LVCMOS33 | LOC = L16;
NET "epb_addr<19>" IOSTANDARD = LVCMOS33 | LOC = K22;
NET "epb_addr<20>" IOSTANDARD = LVCMOS33 | LOC = K21;
NET "epb_addr<21>" IOSTANDARD = LVCMOS33 | LOC = K16;
NET "epb_addr<22>" IOSTANDARD = LVCMOS33 | LOC = J15;

# EPB multi purpose pins
NET "epb_addr_gp<0>" IOSTANDARD = LVCMOS33 | LOC = L21; # DMA_REQ_2
NET "epb_addr_gp<1>" IOSTANDARD = LVCMOS33 | LOC = G22; # DMA_ACK_2
NET "epb_addr_gp<2>" IOSTANDARD = LVCMOS33 | LOC = K23; # EOT_TC_2
NET "epb_addr_gp<3>" IOSTANDARD = LVCMOS33 | LOC = K14; # DMA_REQ_3
NET "epb_addr_gp<4>" IOSTANDARD = LVCMOS33 | LOC = L14; # DMA_ACK_3
NET "epb_addr_gp<5>" IOSTANDARD = LVCMOS33 | LOC = J12; # EOT_TC_3

#NET "epb_cs_alt_n"   IOSTANDARD = LVCMOS33 | LOC = AG17;
NET "epb_cs_n"       IOSTANDARD = LVCMOS33 | LOC = K13;
NET "epb_be_n<1>"    IOSTANDARD = LVCMOS33 | LOC = AF18;
NET "epb_be_n<0>"    IOSTANDARD = LVCMOS33 | LOC = AF14;
NET "epb_r_w_n"      IOSTANDARD = LVCMOS33 | LOC = AF20;
NET "epb_oe_n"       IOSTANDARD = LVCMOS33 | LOC = AF21;
#NET "epb_blast_n"    IOSTANDARD = LVCMOS33 | LOC = H23;
NET "epb_rdy"        IOSTANDARD = LVCMOS33 | LOC = K12;

NET "epb_clk_buf"    IOSTANDARD = LVCMOS33 | LOC = AH18;

#
# Single-ended GPIO
#

# NET "se_gpio_a<7>"    IOSTANDARD = LVCMOS15 | LOC = B27;
# NET "se_gpio_a<6>"    IOSTANDARD = LVCMOS15 | LOC = D24;
# NET "se_gpio_a<5>"    IOSTANDARD = LVCMOS15 | LOC = E24;
# NET "se_gpio_a<4>"    IOSTANDARD = LVCMOS15 | LOC = A26;
# NET "se_gpio_a<3>"    IOSTANDARD = LVCMOS15 | LOC = J7;
# NET "se_gpio_a<2>"    IOSTANDARD = LVCMOS15 | LOC = H7;
# NET "se_gpio_a<1>"    IOSTANDARD = LVCMOS15 | LOC = J9;
# NET "se_gpio_a<0>"    IOSTANDARD = LVCMOS15 | LOC = J10;
# NET "se_gpio_a<8>" IOSTANDARD = LVCMOS33 | LOC = AE14;

#NET "se_gpio_b<7>"    LOC = M33;
#NET "se_gpio_b<6>"    LOC = L33;
#NET "se_gpio_b<5>"    LOC = P32;
#NET "se_gpio_b<4>"    LOC = N32;
#NET "se_gpio_b<3>"    LOC = N33;
#NET "se_gpio_b<2>"    LOC = N34;
#NET "se_gpio_b<1>"    LOC = P34;
#NET "se_gpio_b<0>"    LOC = R33;
#NET "se_gpio_b<8>" IOSTANDARD = LVCMOS33 | LOC = AE18;

# Clock on tile 7
NET "mgt_ref_clk_top_n"    LOC = C8;
NET "mgt_ref_clk_top_p"    LOC = D8;

# Clock on tile 3
NET "mgt_ref_clk_bottom_n" LOC = Y3;
NET "mgt_ref_clk_bottom_p" LOC = Y4;

# Tile 7
NET "mgt_rx_top_1_n<1>"    LOC = A7;
NET "mgt_rx_top_1_p<1>"    LOC = A6;
NET "mgt_rx_top_1_n<0>"    LOC = A8;
NET "mgt_rx_top_1_p<0>"    LOC = A9;
NET "mgt_tx_top_1_n<1>"    LOC = B6;
NET "mgt_tx_top_1_p<1>"    LOC = B5;
NET "mgt_tx_top_1_n<0>"    LOC = B9;
NET "mgt_tx_top_1_p<0>"    LOC = B10;
# Tile 6
NET "mgt_rx_top_1_n<3>"    LOC = C1;
NET "mgt_rx_top_1_p<3>"    LOC = D1;
NET "mgt_rx_top_1_n<2>"    LOC = A2;
NET "mgt_rx_top_1_p<2>"    LOC = A3;
NET "mgt_tx_top_1_n<3>"    LOC = D2;
NET "mgt_tx_top_1_p<3>"    LOC = E2;
NET "mgt_tx_top_1_n<2>"    LOC = B3;
NET "mgt_tx_top_1_p<2>"    LOC = B4;
# Tile 5
NET "mgt_rx_top_0_n<1>"    LOC = J1;
NET "mgt_rx_top_0_p<1>"    LOC = K1;
NET "mgt_rx_top_0_n<0>"    LOC = H1;
NET "mgt_rx_top_0_p<0>"    LOC = G1;
NET "mgt_tx_top_0_n<1>"    LOC = K2;
NET "mgt_tx_top_0_p<1>"    LOC = L2;
NET "mgt_tx_top_0_n<0>"    LOC = G2;
NET "mgt_tx_top_0_p<0>"    LOC = F2;
# Tile 4
NET "mgt_rx_top_0_n<3>"    LOC = R1;
NET "mgt_rx_top_0_p<3>"    LOC = T1;
NET "mgt_rx_top_0_n<2>"    LOC = P1;
NET "mgt_rx_top_0_p<2>"    LOC = N1;
NET "mgt_tx_top_0_n<3>"    LOC = T2;
NET "mgt_tx_top_0_p<3>"    LOC = U2;
NET "mgt_tx_top_0_n<2>"    LOC = N2;
NET "mgt_tx_top_0_p<2>"    LOC = M2;
# Tile 3
NET "mgt_rx_bottom_1_n<1>" LOC = AA1;
NET "mgt_rx_bottom_1_p<1>" LOC = AB1;
NET "mgt_rx_bottom_1_n<0>" LOC = Y1;
NET "mgt_rx_bottom_1_p<0>" LOC = W1;
NET "mgt_tx_bottom_1_n<1>" LOC = AB2;
NET "mgt_tx_bottom_1_p<1>" LOC = AC2;
NET "mgt_tx_bottom_1_n<0>" LOC = W2;
NET "mgt_tx_bottom_1_p<0>" LOC = V2;
# Tile 2
NET "mgt_rx_bottom_1_n<3>" LOC = AG1;
NET "mgt_rx_bottom_1_p<3>" LOC = AH1;
NET "mgt_rx_bottom_1_n<2>" LOC = AF1;
NET "mgt_rx_bottom_1_p<2>" LOC = AE1;
NET "mgt_tx_bottom_1_n<3>" LOC = AH2;
NET "mgt_tx_bottom_1_p<3>" LOC = AJ2;
NET "mgt_tx_bottom_1_n<2>" LOC = AE2;
NET "mgt_tx_bottom_1_p<2>" LOC = AD2;
# Tile 1
NET "mgt_rx_bottom_0_n<1>" LOC = AP2;
NET "mgt_rx_bottom_0_p<1>" LOC = AP3;
NET "mgt_rx_bottom_0_n<0>" LOC = AM1;
NET "mgt_rx_bottom_0_p<0>" LOC = AL1;
NET "mgt_tx_bottom_0_n<1>" LOC = AN3;
NET "mgt_tx_bottom_0_p<1>" LOC = AN4;
NET "mgt_tx_bottom_0_n<0>" LOC = AL2;
NET "mgt_tx_bottom_0_p<0>" LOC = AK2;
# Tile 0
NET "mgt_rx_bottom_0_n<3>" LOC = AP8;
NET "mgt_rx_bottom_0_p<3>" LOC = AP9;
NET "mgt_rx_bottom_0_n<2>" LOC = AP7;
NET "mgt_rx_bottom_0_p<2>" LOC = AP6;
NET "mgt_tx_bottom_0_n<3>" LOC = AN9;
NET "mgt_tx_bottom_0_p<3>" LOC = AN10;
NET "mgt_tx_bottom_0_n<2>" LOC = AN6;
NET "mgt_tx_bottom_0_p<2>" LOC = AN5;
