[submodule "jasper_library/hdl_sources/onehundred_gbe/kutleng_skarab2_bsp_firmware"]
	path = jasper_library/hdl_sources/onehundred_gbe/kutleng_skarab2_bsp_firmware
	url = git@github.com:casper-astro/kutleng_skarab2_bsp_firmware
        branch = mb_rtrs 
