*_sysgen.log
*_sysgen_error.log
./jasper_library/*_sysgen.log
./jasper_library/*_sysgen_error.log
*.asv
*.log
*.jou
*.pyc
casper_library/Tests/*_output.mat
casper_library/Tests/xldsp48e_isim.log
*~
.*.swp
casper_library/casper_library_bus.*
casper_library/casper_library_downconverter.*
tags
xps_base/XPS_ROACH2_base/system.xmp.sx475t.updated
xps_base/XPS_ROACH2_base/system.xmp.updated
vivado.sh
jasper_library/SysgenFeatureReport.htm
jasper_library/test_toolflow
jasper_library/test_toolflow_bram
jasper_library/vivado_pid17107.str
*.local
vivado_pid*.str
