export XILINX_PATH=/data/Xilinx/2025.1/Vivado
export MATLAB_PATH=/data/matlab/R2025a
export COMPOSER_PATH=/data/Xilinx/2025.1/Model_Composer
export PLATFORM=lin64
export JASPER_BACKEND=vitis
export XLNX_DT_REPO_PATH=/data/xilinx/device-tree-xlnx
#export LD_PRELOAD=${LD_PRELOAD}:"/usr/lib/x86_64-linux-gnu/libexpat.so"

# Activate a python3 virtual-environment on load
#export CASPER_PYTHON_VENV_ON_START=/path/to/your/casper-python3-venv
