export XILINX_PATH=/opt/Xilinx/Vivado/2019.1
export MATLAB_PATH=/usr/local/MATLAB/R2018a
export PLATFORM=lin64
export JASPER_BACKEND=vivado
export LD_PRELOAD=${LD_PRELOAD}:"/usr/lib/x86_64-linux-gnu/libexpat.so"

# Activate a python3 virtual-environment on load
export CASPER_PYTHON_VENV_ON_START=/path/to/your/casper-python3-venv
