 
# set the part and package
CONFIG PART = 2vp20ff1152-6;

#######################################################
# Clock/period constraints                            #
#######################################################
# Main transmit clock/period constraints
NET "gtx_clk" TNM_NET = "xgmactxgrp";
NET "tx_clk0" TNM_NET = "xgmactxgrp";
TIMESPEC "TS_xgmactx" = PERIOD "xgmactxgrp" 6400 ps HIGH 50 %;

# Set up DCM for transmit side
INST "tx_dcm" DLL_FREQUENCY_MODE    = LOW;
INST "tx_dcm" DUTY_CYCLE_CORRECTION = TRUE;
INST "tx_dcm" CLK_FEEDBACK          = 1X;
# Main receive clock/period constraints
NET "xgmii_rx_clk" TNM_NET = "xgmacrxgrp";
NET "*rx_clk0*"      TNM_NET = "xgmacrxgrp";
TIMESPEC "TS_xgmacrx"    = PERIOD "xgmacrxgrp" 6400 ps HIGH 50 %;

# Set up DCM for receive side
INST "*rx_dcm" DLL_FREQUENCY_MODE    = LOW;
INST "*rx_dcm" DUTY_CYCLE_CORRECTION = TRUE;
INST "*rx_dcm" CLK_FEEDBACK          = 1X;
#  ******  Please CHECK this constraint.  ******
#
#  Please check this constraint with reference to the 
#  "LogiCORE Ten Gigabit Ethernet MAC User Guide".
# We will try to adjust the delay automatically for V2P and V4
INST "*rx_dcm" DESKEW_ADJUST = SOURCE_SYNCHRONOUS;

#######################################################
# Ten Gigabit Ethernet MAC core constraints           #
#######################################################


#######################################################
# Flow control clock crossing timing constraint 

INST "*xgmac_core/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/good_frame_to_tx" TNM = "flow_grp";
INST "*xgmac_core/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_value_to_tx_*" TNM = "flow_grp";
INST "*xgmac_core/BU2/U0/G_FLOWCONTROL.flwctrl/G_RX.pause/rx_pause_control_i/pause_req_to_tx" TNM = "flow_grp";
TIMESPEC "TS_flow" = FROM "flow_grp" TO "xgmactxgrp" 6400 ps DATAPATHONLY;

############################################################
# Reset path constraints                                   #
#  These constraints add a measure of protection against   #
#  metastability and skew in the reset nets.               #
############################################################

NET "*xgmac_core/BU2/U0/G_RX_RESET.sync_rx_reset_i/reset_out*" MAXDELAY = 4500 ps;
NET "*xgmac_core/BU2/U0/G_TX_RESET.sync_tx_reset_i/reset_out*" MAXDELAY = 4500 ps;
NET "*xgmac_core/BU2/U0/G_TX_RESET.sync_flow_ctrl_tx_reset_i/reset_out*" MAXDELAY = 4500 ps;
NET "*xgmac_core/BU2/U0/G_RX_RESET.sync_flow_ctrl_rx_reset_i/reset_out*" MAXDELAY = 4500 ps;

#######################################################
# I/O constraints                                     #
#######################################################


############################################################
# Client Interface Constraints: place flip-flops in IOBs.
#
# NOTE: the Client Interface is not intended to be an
# external interface. I/O's are added in this example
# only to enable the core (as a standalone design) to be
# implemented by the Xilinx Software Tools.
# 
# Please therefore remove the following constraints when
# instantiating the core in your own design.




INST "*tx_statistics_valid"     IOB = "true";
INST "*tx_statistics_vector*"   IOB = "true";
INST "*rx_statistics_valid"     IOB = "true";
INST "*rx_statistics_vector*"   IOB = "true";

############################################################
#  Floorplanning constraints                               # 
#  The constraints below should be used in larger devices. #
#   eg. add these constraints if greater than xc2v1000     #      
############################################################

INST *flwctrl* AREA_GROUP = all;
INST *txgen* AREA_GROUP = all;
INST *rsgen* AREA_GROUP = all;
INST *rxgen* AREA_GROUP = all;
AREA_GROUP all  RANGE = SLICE_X0Y0:SLICE_X63Y79;


