(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2005 6 27 18 30 29)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 6.3.03i; Cores Update # 4"))))
   (comment "                                                                                
      This file is owned and controlled by Xilinx and must be used              
      solely for design, simulation, implementation and creation of             
      design files limited to Xilinx devices or technologies. Use               
      with non-Xilinx devices or technologies is expressly prohibited           
      and immediately terminates your license.                                  
                                                                                
      XILINX IS PROVIDING THIS DESIGN, CODE, OR INFORMATION 'AS IS'             
      SOLELY FOR USE IN DEVELOPING PROGRAMS AND SOLUTIONS FOR                   
      XILINX DEVICES.  BY PROVIDING THIS DESIGN, CODE, OR INFORMATION           
      AS ONE POSSIBLE IMPLEMENTATION OF THIS FEATURE, APPLICATION               
      OR STANDARD, XILINX IS MAKING NO REPRESENTATION THAT THIS                 
      IMPLEMENTATION IS FREE FROM ANY CLAIMS OF INFRINGEMENT,                   
      AND YOU ARE RESPONSIBLE FOR OBTAINING ANY RIGHTS YOU MAY REQUIRE          
      FOR YOUR IMPLEMENTATION.  XILINX EXPRESSLY DISCLAIMS ANY                  
      WARRANTY WHATSOEVER WITH RESPECT TO THE ADEQUACY OF THE                   
      IMPLEMENTATION, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OR            
      REPRESENTATIONS THAT THIS IMPLEMENTATION IS FREE FROM CLAIMS OF           
      INFRINGEMENT, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS           
      FOR A PARTICULAR PURPOSE.                                                 
                                                                                
      Xilinx products are not intended for use in life support                  
      appliances, devices, or systems. Use in such applications are             
      expressly prohibited.                                                     
                                                                                
      (c) Copyright 1995-2004 Xilinx, Inc.                                      
      All rights reserved.                                                      
                                                                                
   ")
   (comment "Core parameters: ")
       (comment "c_wr_response_latency = 1 ")
       (comment "c_has_rd_data_count = 0 ")
       (comment "c_din_width = 32 ")
       (comment "c_has_wr_data_count = 0 ")
       (comment "InstanceName = asyncfifo_out_8192 ")
       (comment "c_implementation_type = 2 ")
       (comment "c_family = virtex2p ")
       (comment "c_has_wr_rst = 0 ")
       (comment "c_underflow_low = 0 ")
       (comment "c_has_meminit_file = 0 ")
       (comment "c_has_overflow = 0 ")
       (comment "c_preload_latency = 1 ")
       (comment "c_dout_width = 32 ")
       (comment "c_rd_depth = 8192 ")
       (comment "c_default_value = BlankString ")
       (comment "c_mif_file_name = BlankString ")
       (comment "c_has_underflow = 0 ")
       (comment "c_has_almost_full = 0 ")
       (comment "c_has_rd_rst = 0 ")
       (comment "c_has_rst = 1 ")
       (comment "c_data_count_width = 2 ")
       (comment "c_has_wr_ack = 0 ")
       (comment "c_wr_ack_low = 0 ")
       (comment "c_common_clock = 0 ")
       (comment "c_rd_pntr_width = 13 ")
       (comment "c_has_almost_empty = 0 ")
       (comment "c_rd_data_count_width = 2 ")
       (comment "c_enable_rlocs = 0 ")
       (comment "c_wr_pntr_width = 13 ")
       (comment "c_overflow_low = 0 ")
       (comment "c_optimization_mode = 0 ")
       (comment "c_prog_empty_type = 3 ")
       (comment "c_wr_data_count_width = 2 ")
       (comment "c_preload_regs = 0 ")
       (comment "c_dout_rst_val = 0 ")
       (comment "c_has_data_count = 0 ")
       (comment "c_prog_full_thresh_negate_val = 768 ")
       (comment "c_wr_depth = 8192 ")
       (comment "c_prog_empty_thresh_negate_val = 256 ")
       (comment "c_init_wr_pntr_val = 0 ")
       (comment "c_prog_empty_thresh_assert_val = 256 ")
       (comment "c_has_valid = 0 ")
       (comment "c_prog_full_thresh_assert_val = 768 ")
       (comment "c_has_backup = 0 ")
       (comment "c_valid_low = 0 ")
       (comment "c_prim_fifo_type = 512 ")
       (comment "c_count_type = 0 ")
       (comment "c_prog_full_type = 0 ")
       (comment "c_memory_type = 1 ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
   )
   (external asyncfifo_out_8192_fifo_generator_v2_0_as_1_lib (edifLevel 0)
       (technology (numberDefinition))
       (cell asyncfifo_out_8192_fifo_generator_v2_0_as_1 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port wr_clk (direction INPUT))
                   (port rd_clk (direction INPUT))
                   (port rst (direction INPUT))
                   (port ( array ( rename din "din(31:0)") 32 ) (direction INPUT))
                   (port wr_en (direction INPUT))
                   (port rd_en (direction INPUT))
                   (port ( array ( rename prog_full_thresh "prog_full_thresh(12:0)") 13 ) (direction INPUT))
                   (port ( array ( rename prog_full_thresh_assert "prog_full_thresh_assert(12:0)") 13 ) (direction INPUT))
                   (port ( array ( rename prog_full_thresh_negate "prog_full_thresh_negate(12:0)") 13 ) (direction INPUT))
                   (port ( array ( rename prog_empty_thresh "prog_empty_thresh(12:0)") 13 ) (direction INPUT))
                   (port ( array ( rename prog_empty_thresh_assert "prog_empty_thresh_assert(12:0)") 13 ) (direction INPUT))
                   (port ( array ( rename prog_empty_thresh_negate "prog_empty_thresh_negate(12:0)") 13 ) (direction INPUT))
                   (port ( array ( rename dout "dout(31:0)") 32 ) (direction OUTPUT))
                   (port full (direction OUTPUT))
                   (port almost_full (direction OUTPUT))
                   (port wr_ack (direction OUTPUT))
                   (port overflow (direction OUTPUT))
                   (port empty (direction OUTPUT))
                   (port almost_empty (direction OUTPUT))
                   (port valid (direction OUTPUT))
                   (port underflow (direction OUTPUT))
                   (port ( array ( rename rd_data_count "rd_data_count(1:0)") 2 ) (direction OUTPUT))
                   (port ( array ( rename wr_data_count "wr_data_count(1:0)") 2 ) (direction OUTPUT))
                   (port prog_full (direction OUTPUT))
                   (port prog_empty (direction OUTPUT))
                   (port ( array ( rename debug_wr_pntr "debug_wr_pntr(12:0)") 13 ) (direction OUTPUT))
                   (port ( array ( rename debug_rd_pntr "debug_rd_pntr(12:0)") 13 ) (direction OUTPUT))
                   (port debug_ram_wr_en (direction OUTPUT))
                   (port debug_ram_rd_en (direction OUTPUT))
                   (port ( array ( rename debug_wr_pntr_w "debug_wr_pntr_w(12:0)") 13 ) (direction OUTPUT))
                   (port ( array ( rename debug_wr_pntr_plus1_w "debug_wr_pntr_plus1_w(12:0)") 13 ) (direction OUTPUT))
                   (port ( array ( rename debug_wr_pntr_plus2_w "debug_wr_pntr_plus2_w(12:0)") 13 ) (direction OUTPUT))
                   (port ( array ( rename debug_wr_pntr_r "debug_wr_pntr_r(12:0)") 13 ) (direction OUTPUT))
                   (port ( array ( rename debug_rd_pntr_r "debug_rd_pntr_r(12:0)") 13 ) (direction OUTPUT))
                   (port ( array ( rename debug_rd_pntr_plus1_r "debug_rd_pntr_plus1_r(12:0)") 13 ) (direction OUTPUT))
                   (port ( array ( rename debug_rd_pntr_w "debug_rd_pntr_w(12:0)") 13 ) (direction OUTPUT))
                   (port debug_ram_empty (direction OUTPUT))
                   (port debug_ram_full (direction OUTPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell asyncfifo_out_8192
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( array ( rename din "din(31:0)") 32 ) (direction INPUT))
   (port ( array ( rename prog_empty_thresh "prog_empty_thresh(12:0)") 13 ) (direction INPUT))
   (port ( rename rd_clk "rd_clk") (direction INPUT))
   (port ( rename rd_en "rd_en") (direction INPUT))
   (port ( rename rst "rst") (direction INPUT))
   (port ( rename wr_clk "wr_clk") (direction INPUT))
   (port ( rename wr_en "wr_en") (direction INPUT))
   (port ( array ( rename dout "dout(31:0)") 32 ) (direction OUTPUT))
   (port ( rename empty "empty") (direction OUTPUT))
   (port ( rename full "full") (direction OUTPUT))
   (port ( rename prog_empty "prog_empty") (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance BU2
      (viewRef view_1 (cellRef asyncfifo_out_8192_fifo_generator_v2_0_as_1 (libraryRef asyncfifo_out_8192_fifo_generator_v2_0_as_1_lib)))
   )
   (net (rename N126 "din(31)")
    (joined
      (portRef (member din 0))
      (portRef (member din 0) (instanceRef BU2))
    )
   )
   (net (rename N127 "din(30)")
    (joined
      (portRef (member din 1))
      (portRef (member din 1) (instanceRef BU2))
    )
   )
   (net (rename N128 "din(29)")
    (joined
      (portRef (member din 2))
      (portRef (member din 2) (instanceRef BU2))
    )
   )
   (net (rename N129 "din(28)")
    (joined
      (portRef (member din 3))
      (portRef (member din 3) (instanceRef BU2))
    )
   )
   (net (rename N130 "din(27)")
    (joined
      (portRef (member din 4))
      (portRef (member din 4) (instanceRef BU2))
    )
   )
   (net (rename N131 "din(26)")
    (joined
      (portRef (member din 5))
      (portRef (member din 5) (instanceRef BU2))
    )
   )
   (net (rename N132 "din(25)")
    (joined
      (portRef (member din 6))
      (portRef (member din 6) (instanceRef BU2))
    )
   )
   (net (rename N133 "din(24)")
    (joined
      (portRef (member din 7))
      (portRef (member din 7) (instanceRef BU2))
    )
   )
   (net (rename N134 "din(23)")
    (joined
      (portRef (member din 8))
      (portRef (member din 8) (instanceRef BU2))
    )
   )
   (net (rename N135 "din(22)")
    (joined
      (portRef (member din 9))
      (portRef (member din 9) (instanceRef BU2))
    )
   )
   (net (rename N136 "din(21)")
    (joined
      (portRef (member din 10))
      (portRef (member din 10) (instanceRef BU2))
    )
   )
   (net (rename N137 "din(20)")
    (joined
      (portRef (member din 11))
      (portRef (member din 11) (instanceRef BU2))
    )
   )
   (net (rename N138 "din(19)")
    (joined
      (portRef (member din 12))
      (portRef (member din 12) (instanceRef BU2))
    )
   )
   (net (rename N139 "din(18)")
    (joined
      (portRef (member din 13))
      (portRef (member din 13) (instanceRef BU2))
    )
   )
   (net (rename N140 "din(17)")
    (joined
      (portRef (member din 14))
      (portRef (member din 14) (instanceRef BU2))
    )
   )
   (net (rename N141 "din(16)")
    (joined
      (portRef (member din 15))
      (portRef (member din 15) (instanceRef BU2))
    )
   )
   (net (rename N142 "din(15)")
    (joined
      (portRef (member din 16))
      (portRef (member din 16) (instanceRef BU2))
    )
   )
   (net (rename N143 "din(14)")
    (joined
      (portRef (member din 17))
      (portRef (member din 17) (instanceRef BU2))
    )
   )
   (net (rename N144 "din(13)")
    (joined
      (portRef (member din 18))
      (portRef (member din 18) (instanceRef BU2))
    )
   )
   (net (rename N145 "din(12)")
    (joined
      (portRef (member din 19))
      (portRef (member din 19) (instanceRef BU2))
    )
   )
   (net (rename N146 "din(11)")
    (joined
      (portRef (member din 20))
      (portRef (member din 20) (instanceRef BU2))
    )
   )
   (net (rename N147 "din(10)")
    (joined
      (portRef (member din 21))
      (portRef (member din 21) (instanceRef BU2))
    )
   )
   (net (rename N148 "din(9)")
    (joined
      (portRef (member din 22))
      (portRef (member din 22) (instanceRef BU2))
    )
   )
   (net (rename N149 "din(8)")
    (joined
      (portRef (member din 23))
      (portRef (member din 23) (instanceRef BU2))
    )
   )
   (net (rename N150 "din(7)")
    (joined
      (portRef (member din 24))
      (portRef (member din 24) (instanceRef BU2))
    )
   )
   (net (rename N151 "din(6)")
    (joined
      (portRef (member din 25))
      (portRef (member din 25) (instanceRef BU2))
    )
   )
   (net (rename N152 "din(5)")
    (joined
      (portRef (member din 26))
      (portRef (member din 26) (instanceRef BU2))
    )
   )
   (net (rename N153 "din(4)")
    (joined
      (portRef (member din 27))
      (portRef (member din 27) (instanceRef BU2))
    )
   )
   (net (rename N154 "din(3)")
    (joined
      (portRef (member din 28))
      (portRef (member din 28) (instanceRef BU2))
    )
   )
   (net (rename N155 "din(2)")
    (joined
      (portRef (member din 29))
      (portRef (member din 29) (instanceRef BU2))
    )
   )
   (net (rename N156 "din(1)")
    (joined
      (portRef (member din 30))
      (portRef (member din 30) (instanceRef BU2))
    )
   )
   (net (rename N157 "din(0)")
    (joined
      (portRef (member din 31))
      (portRef (member din 31) (instanceRef BU2))
    )
   )
   (net (rename N158 "prog_empty_thresh(12)")
    (joined
      (portRef (member prog_empty_thresh 0))
      (portRef (member prog_empty_thresh 0) (instanceRef BU2))
    )
   )
   (net (rename N159 "prog_empty_thresh(11)")
    (joined
      (portRef (member prog_empty_thresh 1))
      (portRef (member prog_empty_thresh 1) (instanceRef BU2))
    )
   )
   (net (rename N160 "prog_empty_thresh(10)")
    (joined
      (portRef (member prog_empty_thresh 2))
      (portRef (member prog_empty_thresh 2) (instanceRef BU2))
    )
   )
   (net (rename N161 "prog_empty_thresh(9)")
    (joined
      (portRef (member prog_empty_thresh 3))
      (portRef (member prog_empty_thresh 3) (instanceRef BU2))
    )
   )
   (net (rename N162 "prog_empty_thresh(8)")
    (joined
      (portRef (member prog_empty_thresh 4))
      (portRef (member prog_empty_thresh 4) (instanceRef BU2))
    )
   )
   (net (rename N163 "prog_empty_thresh(7)")
    (joined
      (portRef (member prog_empty_thresh 5))
      (portRef (member prog_empty_thresh 5) (instanceRef BU2))
    )
   )
   (net (rename N164 "prog_empty_thresh(6)")
    (joined
      (portRef (member prog_empty_thresh 6))
      (portRef (member prog_empty_thresh 6) (instanceRef BU2))
    )
   )
   (net (rename N165 "prog_empty_thresh(5)")
    (joined
      (portRef (member prog_empty_thresh 7))
      (portRef (member prog_empty_thresh 7) (instanceRef BU2))
    )
   )
   (net (rename N166 "prog_empty_thresh(4)")
    (joined
      (portRef (member prog_empty_thresh 8))
      (portRef (member prog_empty_thresh 8) (instanceRef BU2))
    )
   )
   (net (rename N167 "prog_empty_thresh(3)")
    (joined
      (portRef (member prog_empty_thresh 9))
      (portRef (member prog_empty_thresh 9) (instanceRef BU2))
    )
   )
   (net (rename N168 "prog_empty_thresh(2)")
    (joined
      (portRef (member prog_empty_thresh 10))
      (portRef (member prog_empty_thresh 10) (instanceRef BU2))
    )
   )
   (net (rename N169 "prog_empty_thresh(1)")
    (joined
      (portRef (member prog_empty_thresh 11))
      (portRef (member prog_empty_thresh 11) (instanceRef BU2))
    )
   )
   (net (rename N170 "prog_empty_thresh(0)")
    (joined
      (portRef (member prog_empty_thresh 12))
      (portRef (member prog_empty_thresh 12) (instanceRef BU2))
    )
   )
   (net (rename N236 "rd_clk")
    (joined
      (portRef rd_clk)
      (portRef rd_clk (instanceRef BU2))
    )
   )
   (net (rename N237 "rd_en")
    (joined
      (portRef rd_en)
      (portRef rd_en (instanceRef BU2))
    )
   )
   (net (rename N239 "rst")
    (joined
      (portRef rst)
      (portRef rst (instanceRef BU2))
    )
   )
   (net (rename N240 "wr_clk")
    (joined
      (portRef wr_clk)
      (portRef wr_clk (instanceRef BU2))
    )
   )
   (net (rename N241 "wr_en")
    (joined
      (portRef wr_en)
      (portRef wr_en (instanceRef BU2))
    )
   )
   (net (rename N247 "dout(31)")
    (joined
      (portRef (member dout 0))
      (portRef (member dout 0) (instanceRef BU2))
    )
   )
   (net (rename N248 "dout(30)")
    (joined
      (portRef (member dout 1))
      (portRef (member dout 1) (instanceRef BU2))
    )
   )
   (net (rename N249 "dout(29)")
    (joined
      (portRef (member dout 2))
      (portRef (member dout 2) (instanceRef BU2))
    )
   )
   (net (rename N250 "dout(28)")
    (joined
      (portRef (member dout 3))
      (portRef (member dout 3) (instanceRef BU2))
    )
   )
   (net (rename N251 "dout(27)")
    (joined
      (portRef (member dout 4))
      (portRef (member dout 4) (instanceRef BU2))
    )
   )
   (net (rename N252 "dout(26)")
    (joined
      (portRef (member dout 5))
      (portRef (member dout 5) (instanceRef BU2))
    )
   )
   (net (rename N253 "dout(25)")
    (joined
      (portRef (member dout 6))
      (portRef (member dout 6) (instanceRef BU2))
    )
   )
   (net (rename N254 "dout(24)")
    (joined
      (portRef (member dout 7))
      (portRef (member dout 7) (instanceRef BU2))
    )
   )
   (net (rename N255 "dout(23)")
    (joined
      (portRef (member dout 8))
      (portRef (member dout 8) (instanceRef BU2))
    )
   )
   (net (rename N256 "dout(22)")
    (joined
      (portRef (member dout 9))
      (portRef (member dout 9) (instanceRef BU2))
    )
   )
   (net (rename N257 "dout(21)")
    (joined
      (portRef (member dout 10))
      (portRef (member dout 10) (instanceRef BU2))
    )
   )
   (net (rename N258 "dout(20)")
    (joined
      (portRef (member dout 11))
      (portRef (member dout 11) (instanceRef BU2))
    )
   )
   (net (rename N259 "dout(19)")
    (joined
      (portRef (member dout 12))
      (portRef (member dout 12) (instanceRef BU2))
    )
   )
   (net (rename N260 "dout(18)")
    (joined
      (portRef (member dout 13))
      (portRef (member dout 13) (instanceRef BU2))
    )
   )
   (net (rename N261 "dout(17)")
    (joined
      (portRef (member dout 14))
      (portRef (member dout 14) (instanceRef BU2))
    )
   )
   (net (rename N262 "dout(16)")
    (joined
      (portRef (member dout 15))
      (portRef (member dout 15) (instanceRef BU2))
    )
   )
   (net (rename N263 "dout(15)")
    (joined
      (portRef (member dout 16))
      (portRef (member dout 16) (instanceRef BU2))
    )
   )
   (net (rename N264 "dout(14)")
    (joined
      (portRef (member dout 17))
      (portRef (member dout 17) (instanceRef BU2))
    )
   )
   (net (rename N265 "dout(13)")
    (joined
      (portRef (member dout 18))
      (portRef (member dout 18) (instanceRef BU2))
    )
   )
   (net (rename N266 "dout(12)")
    (joined
      (portRef (member dout 19))
      (portRef (member dout 19) (instanceRef BU2))
    )
   )
   (net (rename N267 "dout(11)")
    (joined
      (portRef (member dout 20))
      (portRef (member dout 20) (instanceRef BU2))
    )
   )
   (net (rename N268 "dout(10)")
    (joined
      (portRef (member dout 21))
      (portRef (member dout 21) (instanceRef BU2))
    )
   )
   (net (rename N269 "dout(9)")
    (joined
      (portRef (member dout 22))
      (portRef (member dout 22) (instanceRef BU2))
    )
   )
   (net (rename N270 "dout(8)")
    (joined
      (portRef (member dout 23))
      (portRef (member dout 23) (instanceRef BU2))
    )
   )
   (net (rename N271 "dout(7)")
    (joined
      (portRef (member dout 24))
      (portRef (member dout 24) (instanceRef BU2))
    )
   )
   (net (rename N272 "dout(6)")
    (joined
      (portRef (member dout 25))
      (portRef (member dout 25) (instanceRef BU2))
    )
   )
   (net (rename N273 "dout(5)")
    (joined
      (portRef (member dout 26))
      (portRef (member dout 26) (instanceRef BU2))
    )
   )
   (net (rename N274 "dout(4)")
    (joined
      (portRef (member dout 27))
      (portRef (member dout 27) (instanceRef BU2))
    )
   )
   (net (rename N275 "dout(3)")
    (joined
      (portRef (member dout 28))
      (portRef (member dout 28) (instanceRef BU2))
    )
   )
   (net (rename N276 "dout(2)")
    (joined
      (portRef (member dout 29))
      (portRef (member dout 29) (instanceRef BU2))
    )
   )
   (net (rename N277 "dout(1)")
    (joined
      (portRef (member dout 30))
      (portRef (member dout 30) (instanceRef BU2))
    )
   )
   (net (rename N278 "dout(0)")
    (joined
      (portRef (member dout 31))
      (portRef (member dout 31) (instanceRef BU2))
    )
   )
   (net (rename N279 "empty")
    (joined
      (portRef empty)
      (portRef empty (instanceRef BU2))
    )
   )
   (net (rename N280 "full")
    (joined
      (portRef full)
      (portRef full (instanceRef BU2))
    )
   )
   (net (rename N282 "prog_empty")
    (joined
      (portRef prog_empty)
      (portRef prog_empty (instanceRef BU2))
    )
   )
))))
(design asyncfifo_out_8192 (cellRef asyncfifo_out_8192 (libraryRef test_lib))
  (property X_CORE_INFO (string "fifo_generator_v2_0, Coregen 6.3.03i_ip4"))
  (property PART (string "XC2VP20-6-ff896") (owner "Xilinx")))
)
