################## Global Timing Constraints
#

Net sys_clk_n TNM_NET = sys_clk_n;
TIMESPEC TS_sys_clk_n = PERIOD sys_clk_n 100 MHz;

Net dly_clk_n TNM_NET = dly_clk_n;
TIMESPEC TS_dly_clk_n = PERIOD dly_clk_n 200 MHz;

Net epb_clk TNM_NET = epb_clk;
TIMESPEC TS_epb_clk = PERIOD epb_clk 88 MHz;

################### Pin constraints
#

#
# System signals
#

NET "sys_clk_n"  LOC = H13;
NET "sys_clk_p"  LOC = J14;

NET "aux0_clk_p" LOC = G15;
NET "aux0_clk_n" LOC = G16;

NET "aux1_clk_p" LOC = H14;
NET "aux1_clk_n" LOC = H15;

NET "dly_clk_n"  LOC = J17;
NET "dly_clk_p"  LOC = J16;

#
# PPC External Peripheral Bus [EPB]
#

NET "ppc_irq_n"    IOSTANDARD = LVCMOS33 | LOC = G23;

# transparent endian change

NET "epb_data<15>" IOSTANDARD = LVCMOS33 | LOC = AD19;
NET "epb_data<14>" IOSTANDARD = LVCMOS33 | LOC = AE19;
NET "epb_data<13>" IOSTANDARD = LVCMOS33 | LOC = AE17;
NET "epb_data<12>" IOSTANDARD = LVCMOS33 | LOC = AF16;
NET "epb_data<11>" IOSTANDARD = LVCMOS33 | LOC = AD20;
NET "epb_data<10>" IOSTANDARD = LVCMOS33 | LOC = AE21;
NET "epb_data<9>"  IOSTANDARD = LVCMOS33 | LOC = AE16;
NET "epb_data<8>"  IOSTANDARD = LVCMOS33 | LOC = AF15;
NET "epb_data<7>"  IOSTANDARD = LVCMOS33 | LOC = AH13;
NET "epb_data<6>"  IOSTANDARD = LVCMOS33 | LOC = AH14;
NET "epb_data<5>"  IOSTANDARD = LVCMOS33 | LOC = AH19;
NET "epb_data<4>"  IOSTANDARD = LVCMOS33 | LOC = AH20;
NET "epb_data<3>"  IOSTANDARD = LVCMOS33 | LOC = AG13;
NET "epb_data<2>"  IOSTANDARD = LVCMOS33 | LOC = AH12;
NET "epb_data<1>"  IOSTANDARD = LVCMOS33 | LOC = AH22;
NET "epb_data<0>"  IOSTANDARD = LVCMOS33 | LOC = AG22;

# transparent endian change
NET "epb_addr<0>"  IOSTANDARD = LVCMOS33 | LOC = AE23;
NET "epb_addr<1>"  IOSTANDARD = LVCMOS33 | LOC = AE22;
NET "epb_addr<2>"  IOSTANDARD = LVCMOS33 | LOC = AG18;
NET "epb_addr<3>"  IOSTANDARD = LVCMOS33 | LOC = AG12;
NET "epb_addr<4>"  IOSTANDARD = LVCMOS33 | LOC = AG15;
NET "epb_addr<5>"  IOSTANDARD = LVCMOS33 | LOC = AG23;
NET "epb_addr<6>"  IOSTANDARD = LVCMOS33 | LOC = AF19;
NET "epb_addr<7>"  IOSTANDARD = LVCMOS33 | LOC = AE12;
NET "epb_addr<8>"  IOSTANDARD = LVCMOS33 | LOC = AG16;
NET "epb_addr<9>"  IOSTANDARD = LVCMOS33 | LOC = AF13;
NET "epb_addr<10>" IOSTANDARD = LVCMOS33 | LOC = AG20;
NET "epb_addr<11>" IOSTANDARD = LVCMOS33 | LOC = AF23;
NET "epb_addr<12>" IOSTANDARD = LVCMOS33 | LOC = AH17;
NET "epb_addr<13>" IOSTANDARD = LVCMOS33 | LOC = AH15;
NET "epb_addr<14>" IOSTANDARD = LVCMOS33 | LOC = L20;
NET "epb_addr<15>" IOSTANDARD = LVCMOS33 | LOC = J22;
NET "epb_addr<16>" IOSTANDARD = LVCMOS33 | LOC = H22;
NET "epb_addr<17>" IOSTANDARD = LVCMOS33 | LOC = L15;
NET "epb_addr<18>" IOSTANDARD = LVCMOS33 | LOC = L16;
NET "epb_addr<19>" IOSTANDARD = LVCMOS33 | LOC = K22;
NET "epb_addr<20>" IOSTANDARD = LVCMOS33 | LOC = K21;
NET "epb_addr<21>" IOSTANDARD = LVCMOS33 | LOC = K16;
NET "epb_addr<22>" IOSTANDARD = LVCMOS33 | LOC = J15;

# EPB multi purpose pins
NET "epb_addr_gp<0>" IOSTANDARD = LVCMOS33 | LOC = L21; # DMA_REQ_2
NET "epb_addr_gp<1>" IOSTANDARD = LVCMOS33 | LOC = G22; # DMA_ACK_2
NET "epb_addr_gp<2>" IOSTANDARD = LVCMOS33 | LOC = K23; # EOT_TC_2
NET "epb_addr_gp<3>" IOSTANDARD = LVCMOS33 | LOC = K14; # DMA_REQ_3
NET "epb_addr_gp<4>" IOSTANDARD = LVCMOS33 | LOC = L14; # DMA_ACK_3
NET "epb_addr_gp<5>" IOSTANDARD = LVCMOS33 | LOC = J12; # EOT_TC_3

#NET "epb_cs_alt_n"   IOSTANDARD = LVCMOS33 | LOC = AG17;
NET "epb_cs_n"       IOSTANDARD = LVCMOS33 | LOC = K13;
NET "epb_be_n<1>"    IOSTANDARD = LVCMOS33 | LOC = AF18;
NET "epb_be_n<0>"    IOSTANDARD = LVCMOS33 | LOC = AF14;
NET "epb_r_w_n"      IOSTANDARD = LVCMOS33 | LOC = AF20;
NET "epb_oe_n"       IOSTANDARD = LVCMOS33 | LOC = AF21;
#NET "epb_blast_n"    IOSTANDARD = LVCMOS33 | LOC = H23;
NET "epb_rdy"        IOSTANDARD = LVCMOS33 | LOC = K12;

NET "epb_clk_in"    IOSTANDARD = LVCMOS33 | LOC = AH18;

##############################################
# IP UCF constraints                         #
##############################################

# test_design/XSG core config

# test_design/adc_3ghz
NET "adc0clk_p" LOC = H19 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 6 ns ;
NET "adc0clk_n" LOC = H20 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 6 ns ;
NET "adc0sync_p" LOC = B33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0sync_n" LOC = C33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0outofrange_p" LOC = C34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0outofrange_n" LOC = D34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<0>" LOC = M31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<1>" LOC = M28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<2>" LOC = M25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<3>" LOC = K28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<4>" LOC = K24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<5>" LOC = H29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<6>" LOC = H28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<7>" LOC = F31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<0>" LOC = N30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<1>" LOC = N28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<2>" LOC = M26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<3>" LOC = L28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<4>" LOC = L24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<5>" LOC = J29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<6>" LOC = G28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<7>" LOC = E31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<0>" LOC = N27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<1>" LOC = L29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<2>" LOC = L25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<3>" LOC = J30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<4>" LOC = G33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<5>" LOC = G30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<6>" LOC = H25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<7>" LOC = E29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<0>" LOC = M27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<1>" LOC = K29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<2>" LOC = L26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<3>" LOC = J31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<4>" LOC = F34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<5>" LOC = F30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<6>" LOC = H24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<7>" LOC = F29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<0>" LOC = L34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<1>" LOC = K33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<2>" LOC = J32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<3>" LOC = K27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<4>" LOC = H30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<5>" LOC = J24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<6>" LOC = G27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<7>" LOC = G25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<0>" LOC = K34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<1>" LOC = K32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<2>" LOC = H33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<3>" LOC = K26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<4>" LOC = G31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<5>" LOC = J25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<6>" LOC = H27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<7>" LOC = G26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<0>" LOC = L30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<1>" LOC = K31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<2>" LOC = H34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<3>" LOC = J27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<4>" LOC = G32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<5>" LOC = F33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<6>" LOC = E32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<7>" LOC = F25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<0>" LOC = M30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<1>" LOC = L31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<2>" LOC = J34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<3>" LOC = J26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<4>" LOC = H32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<5>" LOC = E34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<6>" LOC = E33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<7>" LOC = F26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0ddrb_p" LOC = J20 | IOSTANDARD = LVDS_25 ;
NET "adc0ddrb_n" LOC = J21 | IOSTANDARD = LVDS_25 ;
#NET  "test_design_adc_3ghz/test_design_adc_3ghz/adc_sync"       MAXDELAY           = 1ns;

# test_design/adc_3ghz1
NET "adc1clk_p" LOC = K17 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 6 ns ;
NET "adc1clk_n" LOC = L18 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 6 ns ;
NET "adc1sync_p" LOC = AD31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1sync_n" LOC = AE31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1outofrange_p" LOC = AB27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1outofrange_n" LOC = AC27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<0>" LOC = AN34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<1>" LOC = AK29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<2>" LOC = AJ31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<3>" LOC = AJ32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<4>" LOC = AH34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<5>" LOC = AE27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<6>" LOC = AD26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<7>" LOC = AF34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<0>" LOC = AN33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<1>" LOC = AJ29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<2>" LOC = AK31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<3>" LOC = AK32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<4>" LOC = AJ34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<5>" LOC = AE26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<6>" LOC = AD25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<7>" LOC = AE34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<0>" LOC = AJ25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<1>" LOC = AL34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<2>" LOC = AK34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<3>" LOC = AG27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<4>" LOC = AF29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<5>" LOC = AG33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<6>" LOC = AE29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<7>" LOC = AD30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<0>" LOC = AH25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<1>" LOC = AL33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<2>" LOC = AK33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<3>" LOC = AG26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<4>" LOC = AF30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<5>" LOC = AH33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<6>" LOC = AD29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<7>" LOC = AC29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<0>" LOC = AN32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<1>" LOC = AM33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<2>" LOC = AH27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<3>" LOC = AH29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<4>" LOC = AF25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<5>" LOC = AD24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<6>" LOC = AE28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<7>" LOC = AC25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<0>" LOC = AP32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<1>" LOC = AM32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<2>" LOC = AJ26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<3>" LOC = AG30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<4>" LOC = AF26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<5>" LOC = AE24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<6>" LOC = AF28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<7>" LOC = AC24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<0>" LOC = AK26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<1>" LOC = AK28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<2>" LOC = AJ30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<3>" LOC = AF24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<4>" LOC = AG28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<5>" LOC = AG32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<6>" LOC = AF31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<7>" LOC = AF33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<0>" LOC = AJ27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<1>" LOC = AK27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<2>" LOC = AH30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<3>" LOC = AG25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<4>" LOC = AH28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<5>" LOC = AH32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<6>" LOC = AG31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<7>" LOC = AE33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1ddrb_p" LOC = H17 | IOSTANDARD = LVDS_25 ;
NET "adc1ddrb_n" LOC = H18 | IOSTANDARD = LVDS_25 ;

# Debug Headers
NET "gpio_dir_sel" LOC = AE14 | IOSTANDARD = LVCMOS33;
NET "gpio_adc1_clk" LOC = J7 | IOSTANDARD = LVCMOS33;
NET "gpio_adc0_clk" LOC = H7 | IOSTANDARD = LVCMOS33;
NET "random_test_gpio" LOC = J9 | IOSTANDARD =LVCMOS33;
#NET  "test_design_adc_3ghz1/test_design_adc_3ghz1/adc_sync"       MAXDELAY           = 1ns;


