################################################################
##                                                            ##
## BEE2 User FPGA base system constraints for MSSGE toolflow  ##
##                                                            ##
################################################################

#**********************************************#
#           System level constraints           #
#**********************************************#

#### Clock constraints #########################

NET "dcm_clk_s"            TNM_NET = "dcm_clk_s" ;
TIMESPEC "TS_dcm_clk_s" = PERIOD "dcm_clk_s" 9999 ps ;

#IF# strcmp(get(b,'type'),'xps_tengbe')#NET "brefclk_top_p"     TNM_NET = "brefclk_top_p";
#IF# strcmp(get(b,'type'),'xps_tengbe')#TIMESPEC "TS_brefclk_top_p" = PERIOD "brefclk_top_p" 156.25 Mhz;
#IF# strcmp(get(b,'type'),'xps_tengbe')#NET "brefclk_top_m"     TNM_NET = "brefclk_top_m";
#IF# strcmp(get(b,'type'),'xps_tengbe')#TIMESPEC "TS_brefclk_top_m" = PERIOD "brefclk_top_m" 156.25 Mhz;

#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'0') || strcmp(get(b,'port'),'1'))#NET "bref_clk_top"          TNM_NET = "bref_clk_top" ;
#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'0') || strcmp(get(b,'port'),'1'))#TIMESPEC "TS_bref_clk_top" = PERIOD "bref_clk_top" 156.25 MHz ;
#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'0') || strcmp(get(b,'port'),'1'))#

#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'0') || strcmp(get(b,'port'),'1'))#NET "bref_clk_top_n"  LOC = "G21"  | IOSTANDARD = "LVDS_25"   ;
#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'0') || strcmp(get(b,'port'),'1'))#NET "bref_clk_top_p"  LOC = "F21"  | IOSTANDARD = "LVDS_25"   ;

#### Reset TIGs ################################

NET reset_n TIG;
NET "RSTC405RESETCORE"      TPTHRU = "RST_GRP" ;
NET "RSTC405RESETCHIP"      TPTHRU = "RST_GRP" ;
NET "RSTC405RESETSYS"       TPTHRU = "RST_GRP" ;
NET "C405RSTCORERESETREQ"   TPTHRU = "RST_GRP" ;
NET "C405RSTCHIPRESETREQ"   TPTHRU = "RST_GRP" ;
NET "C405RSTSYSRESETREQ"    TPTHRU = "RST_GRP" ;
TIMESPEC "TS_RST1" = FROM CPUS  THRU RST_GRP TO FFS  TIG ;
TIMESPEC "TS_RST2" = FROM FFS   THRU RST_GRP TO FFS  TIG ;
TIMESPEC "TS_RST3" = FROM FFS   THRU RST_GRP TO CPUS TIG ;

#### System I/O pins ###########################

NET reset_n                             LOC = H4   | IOSTANDARD = LVCMOS18 ;

NET "sysclk_m"                          LOC = AN21 | IOSTANDARD = LVDS_25 ;
NET "sysclk_p"                          LOC = AP21 | IOSTANDARD = LVDS_25 ;
NET "usrclk_m"                          LOC = AP22 | IOSTANDARD = LVDS_25 ;
NET "usrclk_p"                          LOC = AN22 | IOSTANDARD = LVDS_25 ;

NET usrclk_en_n                         LOC = F9   | IOSTANDARD = LVCMOS25 ;
NET sysclk_en_n                         LOC = E9   | IOSTANDARD = LVCMOS25 ;

#### Processor location constraints ############

INST "ppc405_0/ppc405_0/PPC405_i"       LOC = "PPC405_X1Y0" ;
INST "ppc405_1/ppc405_1/PPC405_i"       LOC = "PPC405_X0Y0" ;

######################################
## RS232 pins
######################################

NET rs232_rx                            LOC = J38  | IOSTANDARD = LVCMOS18;
NET rs232_tx                            LOC = J36  | IOSTANDARD = LVCMOS18;
NET rs232_ctsN                          LOC = J41  | IOSTANDARD = LVCMOS18;
NET rs232_rtsN                          LOC = K34  | IOSTANDARD = LVCMOS18;

######################################
## IIC pins
######################################

NET smb_data                            LOC = E36  | IOSTANDARD = LVCMOS18;
NET smb_clk                             LOC = D36  | IOSTANDARD = LVCMOS18;

######################################
## SelectMAP pins
######################################

NET FPGA_CCLK                           LOC = AU21 | IOSTANDARD = LVCMOS25 | DRIVE = 24;

NET FPGA1_D<0>                          LOC = AV9  | IOSTANDARD = LVCMOS25;
NET FPGA1_D<1>                          LOC = AY9  | IOSTANDARD = LVCMOS25;
NET FPGA1_D<2>                          LOC = AW9  | IOSTANDARD = LVCMOS25;
NET FPGA1_D<3>                          LOC = AN11 | IOSTANDARD = LVCMOS25;
NET FPGA1_D<4>                          LOC = AU10 | IOSTANDARD = LVCMOS25;
NET FPGA1_D<5>                          LOC = AT10 | IOSTANDARD = LVCMOS25;
NET FPGA1_D<6>                          LOC = AV10 | IOSTANDARD = LVCMOS25;
NET FPGA1_D<7>                          LOC = AW10 | IOSTANDARD = LVCMOS25;
NET FPGA1_RDWR_B                        LOC = AU9  | IOSTANDARD = LVCMOS25;
NET FPGA1_CS_B                          LOC = AT9  | IOSTANDARD = LVCMOS25;
NET FPGA1_INIT_B                        LOC = AP11 | IOSTANDARD = LVCMOS25;
NET FPGA1_DONE                          LOC = AR11 | IOSTANDARD = LVCMOS25;
NET FPGA1_PROG_B                        LOC = AV11 | IOSTANDARD = LVCMOS25;

NET FPGA2_D<0>                          LOC = C19  | IOSTANDARD = LVCMOS25;
NET FPGA2_D<1>                          LOC = D19  | IOSTANDARD = LVCMOS25;
NET FPGA2_D<2>                          LOC = F19  | IOSTANDARD = LVCMOS25;
NET FPGA2_D<3>                          LOC = E19  | IOSTANDARD = LVCMOS25;
NET FPGA2_D<4>                          LOC = H19  | IOSTANDARD = LVCMOS25;
NET FPGA2_D<5>                          LOC = G19  | IOSTANDARD = LVCMOS25;
NET FPGA2_D<6>                          LOC = K19  | IOSTANDARD = LVCMOS25;
NET FPGA2_D<7>                          LOC = J19  | IOSTANDARD = LVCMOS25;
NET FPGA2_RDWR_B                        LOC = M21  | IOSTANDARD = LVCMOS25;
NET FPGA2_CS_B                          LOC = M20  | IOSTANDARD = LVCMOS25;
NET FPGA2_INIT_B                        LOC = L19  | IOSTANDARD = LVCMOS25;
NET FPGA2_DONE                          LOC = M19  | IOSTANDARD = LVCMOS25;
NET FPGA2_PROG_B                        LOC = C17  | IOSTANDARD = LVCMOS25;

NET FPGA3_D<0>                          LOC = C34  | IOSTANDARD = LVCMOS25;
NET FPGA3_D<1>                          LOC = D34  | IOSTANDARD = LVCMOS25;
NET FPGA3_D<2>                          LOC = K32  | IOSTANDARD = LVCMOS25;
NET FPGA3_D<3>                          LOC = H33  | IOSTANDARD = LVCMOS25;
NET FPGA3_D<4>                          LOC = J33  | IOSTANDARD = LVCMOS25;
NET FPGA3_D<5>                          LOC = F33  | IOSTANDARD = LVCMOS25;
NET FPGA3_D<6>                          LOC = G33  | IOSTANDARD = LVCMOS25;
NET FPGA3_D<7>                          LOC = E33  | IOSTANDARD = LVCMOS25;
NET FPGA3_RDWR_B                        LOC = E34  | IOSTANDARD = LVCMOS25;
NET FPGA3_CS_B                          LOC = F34  | IOSTANDARD = LVCMOS25;
NET FPGA3_INIT_B                        LOC = H32  | IOSTANDARD = LVCMOS25;
NET FPGA3_DONE                          LOC = D33  | IOSTANDARD = LVCMOS25;
NET FPGA3_PROG_B                        LOC = J32  | IOSTANDARD = LVCMOS25;

NET FPGA4_D<0>                          LOC = AU24 | IOSTANDARD = LVCMOS25;
NET FPGA4_D<1>                          LOC = AV24 | IOSTANDARD = LVCMOS25;
NET FPGA4_D<2>                          LOC = AR24 | IOSTANDARD = LVCMOS25;
NET FPGA4_D<3>                          LOC = AT24 | IOSTANDARD = LVCMOS25;
NET FPGA4_D<4>                          LOC = AN24 | IOSTANDARD = LVCMOS25;
NET FPGA4_D<5>                          LOC = AP24 | IOSTANDARD = LVCMOS25;
NET FPGA4_D<6>                          LOC = AL24 | IOSTANDARD = LVCMOS25;
NET FPGA4_D<7>                          LOC = AM24 | IOSTANDARD = LVCMOS25;
NET FPGA4_RDWR_B                        LOC = AW24 | IOSTANDARD = LVCMOS25;
NET FPGA4_CS_B                          LOC = AY24 | IOSTANDARD = LVCMOS25;
NET FPGA4_INIT_B                        LOC = AY25 | IOSTANDARD = LVCMOS25;
NET FPGA4_DONE                          LOC = AY26 | IOSTANDARD = LVCMOS25;
NET FPGA4_PROG_B                        LOC = AV25 | IOSTANDARD = LVCMOS25;

##########################
## Ethernet PHY pins
##########################

NET phy_rx_dv                           LOC = E20  | IOSTANDARD = LVCMOS25;
NET phy_mdc                             LOC = K23  | IOSTANDARD = LVCMOS25;
NET phy_mdio                            LOC = J23  | IOSTANDARD = LVCMOS25;
NET phy_slew<0>                         LOC = M22  | IOSTANDARD = LVCMOS25;
NET phy_slew<1>                         LOC = M23  | IOSTANDARD = LVCMOS25;
NET phy_reset_n                         LOC = H23  | IOSTANDARD = LVCMOS25;
NET phy_col                             LOC = E23  | IOSTANDARD = LVCMOS25;
NET phy_crs                             LOC = F23  | IOSTANDARD = LVCMOS25;
NET phy_txd<0>                          LOC = C23  | IOSTANDARD = LVCMOS25;
NET phy_txd<1>                          LOC = D23  | IOSTANDARD = LVCMOS25;
NET phy_txd<2>                          LOC = J21  | IOSTANDARD = LVCMOS25;
NET phy_txd<3>                          LOC = K21  | IOSTANDARD = LVCMOS25;
NET phy_tx_clk                          LOC = K22  | IOSTANDARD = LVCMOS25;
NET phy_rx_clk                          LOC = J22  | IOSTANDARD = LVCMOS25;
NET phy_rxd<0>                          LOC = H20  | IOSTANDARD = LVCMOS25;
NET phy_rxd<1>                          LOC = J20  | IOSTANDARD = LVCMOS25;
NET phy_rxd<2>                          LOC = L20  | IOSTANDARD = LVCMOS25;
NET phy_rxd<3>                          LOC = K20  | IOSTANDARD = LVCMOS25;
NET phy_tx_en                           LOC = D20  | IOSTANDARD = LVCMOS25;
NET phy_tx_er                           LOC = C20  | IOSTANDARD = LVCMOS25;
NET phy_rx_er                           LOC = F20  | IOSTANDARD = LVCMOS25;

##########################
## System ACE pins
##########################

NET mpce_n                              LOC = AY20 | IOSTANDARD = LVCMOS25;
NET mpa<0>                              LOC = AL20 | IOSTANDARD = LVCMOS25;
NET mpa<1>                              LOC = AN20 | IOSTANDARD = LVCMOS25;
NET mpa<2>                              LOC = AM20 | IOSTANDARD = LVCMOS25;
NET mpa<3>                              LOC = AP20 | IOSTANDARD = LVCMOS25;
NET mpa<4>                              LOC = AR20 | IOSTANDARD = LVCMOS25;
NET mpa<5>                              LOC = AV20 | IOSTANDARD = LVCMOS25;
NET mpa<6>                              LOC = AU20 | IOSTANDARD = LVCMOS25;
NET mclk                                LOC = AT21 | IOSTANDARD = LVCMOS25;
NET mpirq                               LOC = AW20 | IOSTANDARD = LVCMOS25;
NET mpd<0>                              LOC = AW23 | IOSTANDARD = LVCMOS25;
NET mpd<1>                              LOC = AY23 | IOSTANDARD = LVCMOS25;
NET mpd<2>                              LOC = AU23 | IOSTANDARD = LVCMOS25;
NET mpd<3>                              LOC = AV23 | IOSTANDARD = LVCMOS25;
NET mpd<4>                              LOC = AR23 | IOSTANDARD = LVCMOS25;
NET mpd<5>                              LOC = AP23 | IOSTANDARD = LVCMOS25;
NET mpd<6>                              LOC = AM23 | IOSTANDARD = LVCMOS25;
NET mpd<7>                              LOC = AN23 | IOSTANDARD = LVCMOS25;
NET mpoe_n                              LOC = AL23 | IOSTANDARD = LVCMOS25;
NET mpwe_n                              LOC = AL22 | IOSTANDARD = LVCMOS25;

