# Select the part to be used in the implementation run
CONFIG PART = xc2vp7-ff672-6;

#######################################################################
# Clock frequencies and clock management                              #
#######################################################################
NET "refclk_buf" TNM_NET="refclk_top";
# Clock rate below is the 10-Gigabit Ethernet speed; change to 
# 159.375 MHz for 10-Gigabit Fibre Channel applications
TIMESPEC "TS_refclk_top" = PERIOD "refclk_top" 156.25 MHz;

# Tag reset synchronizer as asynchronous inputs
INST "reset_reg_fd" ASYNC_REG=TRUE;


###################################################################
# Note these UCF parameters are provided as an example of a       #
# particular implementation - targetted at a 2vp7.                #
# If the user wishes to use a different part they can do so       #
# but they must ensure that these parameters are correct.         #
# Guidance can be found in the relevant user guide.               #
###################################################################
NET "xaui_tx_l0_p" LOC = "A22";
NET "xaui_tx_l0_n" LOC = "A23";
NET "xaui_tx_l1_p" LOC = "A17";
NET "xaui_tx_l1_n" LOC = "A18";
NET "xaui_tx_l2_p" LOC = "A11";
NET "xaui_tx_l2_n" LOC = "A12";
NET "xaui_tx_l3_p" LOC = "A6";
NET "xaui_tx_l3_n" LOC = "A7";
NET "xaui_rx_l0_p" LOC = "A21";
NET "xaui_rx_l0_n" LOC = "A20";
NET "xaui_rx_l1_p" LOC = "A16";
NET "xaui_rx_l1_n" LOC = "A15";
NET "xaui_rx_l2_p" LOC = "A10";
NET "xaui_rx_l2_n" LOC = "A9";
NET "xaui_rx_l3_p" LOC = "A5";
NET "xaui_rx_l3_n" LOC = "A4";
NET "refclk_p" LOC = "B14";
NET "refclk_n" LOC = "C14";


# Set up the master-slave relationships for channel-bonding in the
# RocketIO transceivers
INST "mgt_0_MGT" CHAN_BOND_MODE = "MASTER";
INST "mgt_1_MGT" CHAN_BOND_MODE = "SLAVE_1_HOP";
INST "mgt_2_MGT" CHAN_BOND_MODE = "SLAVE_1_HOP";
INST "mgt_3_MGT" CHAN_BOND_MODE = "SLAVE_1_HOP";

INST "mgt_0_MGT" REF_CLK_V_SEL = "1";
INST "mgt_1_MGT" REF_CLK_V_SEL = "1";
INST "mgt_2_MGT" REF_CLK_V_SEL = "1";
INST "mgt_3_MGT" REF_CLK_V_SEL = "1";

INST "mgt_0_MGT" RX_LOSS_OF_SYNC_FSM = "TRUE";
INST "mgt_1_MGT" RX_LOSS_OF_SYNC_FSM = "TRUE";
INST "mgt_2_MGT" RX_LOSS_OF_SYNC_FSM = "TRUE";
INST "mgt_3_MGT" RX_LOSS_OF_SYNC_FSM = "TRUE";

INST "mgt_0_MGT" CHAN_BOND_ONE_SHOT = "FALSE";
INST "mgt_1_MGT" CHAN_BOND_ONE_SHOT = "FALSE";
INST "mgt_2_MGT" CHAN_BOND_ONE_SHOT = "FALSE";
INST "mgt_3_MGT" CHAN_BOND_ONE_SHOT = "FALSE";


###################################################################
# Floorplanning                                                   #
#                                                                 #
# Again, care should be taken to ensure these directives are      #
# correct for your design.                                        #
###################################################################
INST xaui_core AREA_GROUP = xaui_top_group;
AREA_GROUP xaui_top_group RANGE=SLICE_X0Y60:SLICE_X67Y79;

INST "mgt_0_reclock_align" LOC = "SLICE_X15Y72";
INST "mgt_1_reclock_align" LOC = "SLICE_X27Y72";
INST "mgt_2_reclock_align" LOC = "SLICE_X39Y72";
INST "mgt_3_reclock_align" LOC = "SLICE_X51Y72";
INST "mgt_?_reclock_align" ASYNC_REG = TRUE;




###################################################################
