###############################################################################
#
# Copyright 2020
# ASTRON (Netherlands Institute for Radio Astronomy) <http://www.astron.nl/>
# P.O.Box 2, 7990 AA Dwingeloo, The Netherlands
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
###############################################################################

# Author:
# . Daniel van der Schuur
# Purpose:
# . Config file for use with the RadioHDL tool flow.

hdl_lib_name = common_pkg
hdl_library_clause_name = common_pkg_lib
hdl_lib_uses_synth = 
hdl_lib_uses_sim = 
hdl_lib_technology = 

synth_files =
    common_pkg.vhd
    common_str_pkg.vhd
    common_lfsr_sequences_pkg.vhd
    tb_common_pkg.vhd

test_bench_files = 

regression_test_vhdl = 
    
[modelsim_project_file]
modelsim_copy_files =

[quartus_project_file]

