NET "sysclk_p" LOC = AD12 | IOSTANDARD = "LVDS";
NET "sysclk_n" LOC = AD11 | IOSTANDARD = "LVDS";
Net sysclk_n TNM_NET = sysclk_n;
TIMESPEC TSsys_clk_n = PERIOD sysclk_n 100.0 MHz;

NET "miso" LOC = AA27 | IOSTANDARD = "LVCMOS25";
NET "mosi" LOC = AB28 | IOSTANDARD = "LVCMOS25";
NET "sclk" LOC = AA25 | IOSTANDARD = "LVCMOS25";
NET "cs_n" LOC = AB25 | IOSTANDARD = "LVCMOS25";

NET "GPIO_LED_4_LS" LOC = AE26 | IOSTANDARD = "LVCMOS25";
NET "GPIO_LED_5_LS" LOC = G19  | IOSTANDARD = "LVCMOS25";

#LED0 D13
#LED1 D14
#LED2 E12
#LED3 E13
#
#
