################################################################
##                                                            ##
## BEE2 User FPGA base system constraints for MSSGE toolflow  ##
##                                                            ##
################################################################

#**********************************************#
#           System level constraints           #
#**********************************************#

#### Clock constraints #########################

NET "dcm_clk_s"             TNM_NET = "dcm_clk_s" ;
TIMESPEC "TS_dcm_clk_s" = PERIOD "dcm_clk_s" 9999 ps ;

#IF# strcmp(get(b,'type'),'xps_tengbe') || strcmp(get(b,'type'),'xps_xaui_v2')#NET "brefclk_top_p"     TNM_NET = "brefclk_top_p";
#IF# strcmp(get(b,'type'),'xps_tengbe') || strcmp(get(b,'type'),'xps_xaui_v2')#TIMESPEC "TS_brefclk_top_p" = PERIOD "brefclk_top_p" 156.25 Mhz;
#IF# strcmp(get(b,'type'),'xps_tengbe') || strcmp(get(b,'type'),'xps_xaui_v2')#NET "brefclk_top_m"     TNM_NET = "brefclk_top_m";
#IF# strcmp(get(b,'type'),'xps_tengbe') || strcmp(get(b,'type'),'xps_xaui_v2')#TIMESPEC "TS_brefclk_top_m" = PERIOD "brefclk_top_m" 156.25 Mhz;
#IF# strcmp(get(b,'type'),'xps_tengbe') || strcmp(get(b,'type'),'xps_xaui_v2')#NET "brefclk_bottom_p"     TNM_NET = "brefclk_bottom_p";
#IF# strcmp(get(b,'type'),'xps_tengbe') || strcmp(get(b,'type'),'xps_xaui_v2')#TIMESPEC "TS_brefclk_bottom_p" = PERIOD "brefclk_bottom_p" 156.25 Mhz;
#IF# strcmp(get(b,'type'),'xps_tengbe') || strcmp(get(b,'type'),'xps_xaui_v2')#NET "brefclk_bottom_m"     TNM_NET = "brefclk_bottom_m";
#IF# strcmp(get(b,'type'),'xps_tengbe') || strcmp(get(b,'type'),'xps_xaui_v2')#TIMESPEC "TS_brefclk_bottom_m" = PERIOD "brefclk_bottom_m" 156.25 Mhz;

#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'0') || strcmp(get(b,'port'),'1'))#NET "bref_clk_top"          TNM_NET = "bref_clk_top" ;
#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'0') || strcmp(get(b,'port'),'1'))#TIMESPEC "TS_bref_clk_top" = PERIOD "bref_clk_top" 156.25 MHz ;
#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'0') || strcmp(get(b,'port'),'1'))#
#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'2') || strcmp(get(b,'port'),'3'))#NET "bref_clk_bottom"       TNM_NET = "bref_clk_bottom" ;
#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'2') || strcmp(get(b,'port'),'3'))#TIMESPEC "TS_bref_clk_bottom" = PERIOD "bref_clk_bottom" 156.25 MHz ;
#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'2') || strcmp(get(b,'port'),'3'))#
#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'0') || strcmp(get(b,'port'),'1'))#NET "bref_clk_top_n"  LOC = "G21"  | IOSTANDARD = "LVDS_25"   ;
#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'0') || strcmp(get(b,'port'),'1'))#NET "bref_clk_top_p"  LOC = "F21"  | IOSTANDARD = "LVDS_25"   ;
#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'2') || strcmp(get(b,'port'),'3'))#NET "bref_clk_bottom_n"  LOC = "AU21" | IOSTANDARD = "LVDS_25"   ;
#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'2') || strcmp(get(b,'port'),'3'))#NET "bref_clk_bottom_p"  LOC = "AT21" | IOSTANDARD = "LVDS_25"   ;
#IF# strcmp(get(b,'type'),'xps_xaui') && (strcmp(get(b,'port'),'2') || strcmp(get(b,'port'),'3'))#

#### Reset TIGs ################################

NET reset_n TIG;
NET "RSTC405RESETCORE"      TPTHRU = "RST_GRP" ;
NET "RSTC405RESETCHIP"      TPTHRU = "RST_GRP" ;
NET "RSTC405RESETSYS"       TPTHRU = "RST_GRP" ;
NET "C405RSTCORERESETREQ"   TPTHRU = "RST_GRP" ;
NET "C405RSTCHIPRESETREQ"   TPTHRU = "RST_GRP" ;
NET "C405RSTSYSRESETREQ"    TPTHRU = "RST_GRP" ;
TIMESPEC "TS_RST1" = FROM CPUS  THRU RST_GRP TO FFS  TIG ;
TIMESPEC "TS_RST2" = FROM FFS   THRU RST_GRP TO FFS  TIG ;
TIMESPEC "TS_RST3" = FROM FFS   THRU RST_GRP TO CPUS TIG ;


#### System I/O pins ###########################

NET "reset_n"               LOC = AR7  | IOSTANDARD = LVCMOS18 ;

NET "sysclk_m"              LOC = AN21 | IOSTANDARD = LVDS_25 ;
NET "sysclk_p"              LOC = AP21 | IOSTANDARD = LVDS_25 ;
NET "usrclk_m"              LOC = AP22 | IOSTANDARD = LVDS_25 ;
NET "usrclk_p"              LOC = AN22 | IOSTANDARD = LVDS_25 ;


#### Processor location constraints ############

INST "ppc405_0/ppc405_0/PPC405_i" LOC="PPC405_X1Y0" ;


#### SelectMAP pins ############################

NET "SELECTMAP_D<0>"        LOC = AU9  | IOSTANDARD = LVCMOS25 ;
NET "SELECTMAP_D<1>"        LOC = AV9  | IOSTANDARD = LVCMOS25 ;
NET "SELECTMAP_D<2>"        LOC = AY9  | IOSTANDARD = LVCMOS25 ;
NET "SELECTMAP_D<3>"        LOC = AW9  | IOSTANDARD = LVCMOS25 ;
NET "SELECTMAP_D<4>"        LOC = AW34 | IOSTANDARD = LVCMOS25 ;
NET "SELECTMAP_D<5>"        LOC = AY34 | IOSTANDARD = LVCMOS25 ;
NET "SELECTMAP_D<6>"        LOC = AV34 | IOSTANDARD = LVCMOS25 ;
NET "SELECTMAP_D<7>"        LOC = AU34 | IOSTANDARD = LVCMOS25 ;
NET "SELECTMAP_RDWR_B"      LOC = AR34 | IOSTANDARD = LVCMOS25 ;
NET "SELECTMAP_CS_B"        LOC = AT34 | IOSTANDARD = LVCMOS25 ;
NET "SELECTMAP_INIT_B"      LOC = AR9  | IOSTANDARD = LVCMOS25 ;


