\chapter{System Blocks}
\input{sys_adc.tex}
\newpage
\input{sys_dac.tex}
\newpage
\input{sys_dram.tex}
\newpage
\input{sys_snap64.tex}
\newpage
\input{sys_snap.tex}
\newpage
\input{sys_software_register.tex}
\newpage
\input{sys_sram.tex}
\newpage
\input{sys_xsg_core_config.tex}
\newpage
