(edif dcmx3y0_2vp70
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 10 22 15 49 55)
      (author "Synplicity, Inc.")
      (program "Synplify Pro" (version "7.3, Build 192R"))
     )
   )
  (library VIRTEX
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT4 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port I2 (direction INPUT))
           (port I3 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port P (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell dcmx3y0_2vp70 (cellType GENERIC)
       (view structure (viewType NETLIST)
         (interface
           (port clock1_in (direction INPUT)
 )
           (port clock2_in (direction INPUT)
 )
           (port clock1_out (direction OUTPUT))
           (port clock2_out (direction OUTPUT))
         )
         (contents
          (instance VCC (viewRef PRIM (cellRef VCC (libraryRef UNILIB)))          )
          (instance BUF1_1 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property init (string "AAAA"))
           (property lock_pins (string ""))
           (property bel (string "G"))
           (property loc (string "SLICE_X159Y1"))
          )
          (instance INV1_1 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property init (string "00FF"))
           (property lock_pins (string ""))
           (property bel (string "F"))
           (property loc (string "SLICE_X159Y1"))
          )
          (instance INV2_1 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property init (string "3333"))
           (property lock_pins (string ""))
           (property bel (string "F"))
           (property loc (string "SLICE_X81Y0"))
          )
          (instance BUF2_1 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property init (string "CCCC"))
           (property lock_pins (string ""))
           (property bel (string "G"))
           (property loc (string "SLICE_X81Y0"))
          )
          (instance BUF1_2 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property init (string "CCCC"))
           (property lock_pins (string ""))
           (property bel (string "G"))
           (property loc (string "SLICE_X158Y0"))
          )
          (instance INV1_2 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property init (string "00FF"))
           (property lock_pins (string ""))
           (property bel (string "F"))
           (property loc (string "SLICE_X158Y0"))
          )
          (instance INV2_2 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property init (string "3333"))
           (property lock_pins (string ""))
           (property bel (string "F"))
           (property loc (string "SLICE_X80Y1"))
          )
          (instance BUF2_2 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property init (string "CCCC"))
           (property lock_pins (string ""))
           (property bel (string "G"))
           (property loc (string "SLICE_X80Y1"))
          )
          (net clock1_in (joined
           (portRef clock1_in)
           (portRef I0 (instanceRef BUF1_1))
          ))
          (net clock2_in (joined
           (portRef clock2_in)
           (portRef I1 (instanceRef BUF1_2))
          ))
          (net clock1_out (joined
           (portRef clock1_out)
           (portRef O (instanceRef BUF2_1))
           )
          )
          (net clock2_out (joined
           (portRef clock2_out)
           (portRef O (instanceRef BUF2_2))
           )
          )
          (net (rename VCCZ0 "VCC") (joined
           (portRef I3 (instanceRef BUF2_2))
           (portRef I2 (instanceRef BUF2_2))
           (portRef I0 (instanceRef BUF2_2))
           (portRef I3 (instanceRef INV2_2))
           (portRef I2 (instanceRef INV2_2))
           (portRef I0 (instanceRef INV2_2))
           (portRef I2 (instanceRef INV1_2))
           (portRef I1 (instanceRef INV1_2))
           (portRef I0 (instanceRef INV1_2))
           (portRef I3 (instanceRef BUF1_2))
           (portRef I2 (instanceRef BUF1_2))
           (portRef I0 (instanceRef BUF1_2))
           (portRef I3 (instanceRef BUF2_1))
           (portRef I2 (instanceRef BUF2_1))
           (portRef I0 (instanceRef BUF2_1))
           (portRef I3 (instanceRef INV2_1))
           (portRef I2 (instanceRef INV2_1))
           (portRef I0 (instanceRef INV2_1))
           (portRef I2 (instanceRef INV1_1))
           (portRef I1 (instanceRef INV1_1))
           (portRef I0 (instanceRef INV1_1))
           (portRef I3 (instanceRef BUF1_1))
           (portRef I2 (instanceRef BUF1_1))
           (portRef I1 (instanceRef BUF1_1))
           (portRef P (instanceRef VCC))
           )
          )
          (net clkd1buf_1 (joined
           (portRef I3 (instanceRef INV1_1))
           (portRef O (instanceRef BUF1_1))
           )
          )
          (net clkd1inv_1 (joined
           (portRef I1 (instanceRef INV2_1))
           (portRef O (instanceRef INV1_1))
           )
           (property route (string "{2;1;-5!-1;168000;176472;14;240;419;30;13!0;-11848;-1857;42!1;-21424;194!2;-21656;0!3;-21656;0!4;-21656;0!5;-20968;-194!6;-21656;0!7;-14616;302;2!8;-7832;0!9;1025;1019;0!10;327;0;4;123;418;11!}"))
          )
          (net dualinv_out_sig_1 (joined
           (portRef I1 (instanceRef BUF2_1))
           (portRef O (instanceRef INV2_1))
           )
          )
          (net clkd1buf_2 (joined
           (portRef I3 (instanceRef INV1_2))
           (portRef O (instanceRef BUF1_2))
           )
          )
          (net clkd1inv_2 (joined
           (portRef I1 (instanceRef INV2_2))
           (portRef O (instanceRef INV1_2))
           )
           (property route (string "{2;1;-5!-1;167840;175440;14;240;416;30;13!0;-11688;1751;42!1;-21408;-178!2;-21656;0!3;-21656;0!4;-21656;0!5;-20984;178!6;-21656;0!7;-14600;-278;2!8;-7832;0!9;976;-956;0!10;200;-365;4;123;417;11!}"))
          )
          (net dualinv_out_sig_2 (joined
           (portRef I1 (instanceRef BUF2_2))
           (portRef O (instanceRef INV2_2))
           )
          )
         )
       )
    )
  )
  (design dcmx3y0_2vp70 (cellRef dcmx3y0_2vp70 (libraryRef work))
	(property PART (string "xc2vp70ff1704-5") (owner "Xilinx")))
)
