# System clock, 100MHz
NET "sysclk_p" LOC = E10 | IOSTANDARD = "LVDS_25";
NET "sysclk_n" LOC = D10 | IOSTANDARD = "LVDS_25";
Net sysclk_n TNM_NET = sysclk_n;
TIMESPEC TS_sysclk_n = PERIOD sysclk_n 100.0 MHz;

NET "miso" LOC = K20 | IOSTANDARD = "LVCMOS33";
NET "mosi" LOC = J20 | IOSTANDARD = "LVCMOS33";
NET "sclk" LOC = E17 | IOSTANDARD = "LVCMOS33";
NET "cs_n" LOC = G19 | IOSTANDARD = "LVCMOS33";

#LED0 D13
#LED1 D14
#LED2 E12
#LED3 E13
#
